/* Additional reply bbcode for sgp simple editor ...
-------------------------------------------------- */

.imageline { 
	height:190px;
	overflow-y:scroll;
	border:none; 
	margin-top: 5px;
	padding: 5px;
}
.block_img {
	height:100px;
}
.row5 { background-color: #F9EDBD; }
.row6 { background-color: #E8DFC0; }

.bbb-bold, .bbb-bold a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-bold.gif");
	width: 22px;
	height: 22px;
}
.bbb-bold:hover {
	background-position: 0px -23px;
}
.bbb-quote, .bbb-italic, .bbb-italic a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-italic.gif");
	width: 22px;
	height: 22px;
}
.bbb-italic:hover {
	background-position: 0px -23px;
}
.bbb-quote, .bbb-quote a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-quote.gif");
	width: 22px;
	height: 22px;
}
.bbb-quote:hover {
	background-position: 0px -23px;
}
.bbb-code, .bbb-code a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-code.gif");
	width: 22px;
	height: 22px;
}
.bbb-code:hover {
	background-position: 0px -23px;
}
.bbb-list, .bbb-list a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-list.gif");
	width: 22px;
	height: 22px;
}
.bbb-list:hover {
	background-position: 0px -23px;
}
.bbb-flash, .bbb-flash a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-flash.gif");
	width: 22px;
	height: 22px;
}
.bbb-flash:hover {
	background-position: 0px -23px;
}
.bbb-image, .bbb-image a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-image.gif");
	width: 22px;
	height: 22px;
}
.bbb-image:hover {
	background-position: 0px -23px;
}
.bbb-url, .bbb-url a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-url.gif");
	width: 22px;
	height: 22px;
}
.bbb-url:hover {
	background-position: 0px -23px;
}
.bbb-under_line, .bbb-under_line a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-under_line.gif");
	width: 22px;
	height: 22px;
}
.bbb-under_line:hover {
	background-position: 0px -23px;
}
.bbb-align_center, .bbb-align_center a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-align_center.gif");
	width: 22px;
	height: 22px;
}
.bbb-align_center:hover {
	background-position: 0px -23px;
}
.bbb-align_left, .bbb-align_left a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-align_left.gif");
	width: 22px;
	height: 22px;
}
.bbb-align_left:hover {
	background-position: 0px -23px;
}
.bbb-align_right, .bbb-align_right a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-align_right.gif");
	width: 22px;
	height: 22px;
}
.bbb-align_right:hover {
	background-position: 0px -23px;
}
.bbb-ordered_list, .bbb-ordered_list a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-ordered_list.gif");
	width: 22px;
	height: 22px;
}
.bbb-ordered_list:hover {
	background-position: 0px -23px;
}
.bbb-add_list_item, .bbb-add_list_item a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-add_list_item.gif");
	width: 22px;
	height: 22px;
}
.bbb-add_list_item:hover {
	background-position: 0px -23px;
}
.bbb-note, .bbb-note a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-note.gif");
	width: 22px;
	height: 22px;
}
.bbb-note:hover {
	background-position: 0px -23px;
}
.bbb-spoiler, .bbb-spoiler a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-spoiler.gif");
	width: 22px;
	height: 22px;
}
.bbb-spoiler:hover {
	background-position: 0px -23px;
}
.bbb-tab, .bbb-tab a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-tab.gif");
	width: 22px;
	height: 22px;
}
.bbb-tab:hover {
	background-position: 0px -23px;
}
.bbb-sup, .bbb-sup a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-sup.gif");
	width: 22px;
	height: 22px;
}
.bbb-sup:hover {
	background-position: 0px -23px;
}
.bbb-sub, .bbb-sub a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-sub.gif");
	width: 22px;
	height: 22px;
}
.bbb-sub:hover {
	background-position: 0px -23px;
}
.bbb-strike, .bbb-strike a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-strike.gif");
	width: 22px;
	height: 22px;
}
.bbb-strike:hover {
	background-position: 0px -23px;
}
.bbb-link, .bbb-link a {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-link.gif");
	width: 22px;
	height: 22px;
}
.bbb-link:hover {
	background-position: 0px -23px;
}
.rollover, .rollover a {
	display: inline;
	float: left;
}
.rollover a:hover {
	background-position: 0 -23px;
}
.bbb-icon-spacer {
	background: transparent;
	border: none;
	background-image: url("./../../images/bbcode/bbb-icon-spacer.gif");
	width: 3px;
	height: 22px;
}
button { border: solid 3px; }

.dl
{
	background-color: #FCF5D8;
	border-radius: 7px;
}
.dl legend
{
	color: #CD6800;
}