<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>
<!-- ENDIF -->

<!-- INCLUDE garage/garage_header.html -->

<!-- INCLUDE garage/garage_menu.html -->

<div id="garage-main">
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<h3>{TRACK}</h3>
			<fieldset>
				<dl>
					<dt><b>{L_TRACK}</b></dt>
					<dd>{TRACK}</dd>
				</dl>
				<dl>
					<dt><b>{L_LENGTH}</b></dt>
					<dd>{LENGTH} {MILEAGE_UNIT}</dd>
				</dl>
			</fieldset>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<!-- IF S_DISPLAY_GALLERIES -->
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<h3>{L_TRACK_PICTURES}</h3>
			<div class="garage-image-gallery">
				<!-- BEGIN track_image -->
				<a href="{track_image.U_IMAGE}" rel="lightbox"><img src="{track_image.IMAGE_SOURCE}" alt="{track_image.IMAGE_NAME}" /></a>
				<!-- END track_image -->
    			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_LAPS -->
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<h3>{L_LAPS}</h3>
			<div class="forabg">
				<div class="inner">
					<span class="corners-top"><span></span></span>
					<ul class="garage_list">
						<li class="header">
							<dl>
								<dt class="gwidth-20px"></dt>
								<dd class="gwidth-20">{L_USERNAME}</dd>
								<dd class="gwidth-20">{L_VEHICLE}</dd>
								<dd class="gwidth-15">{L_CONDITION}</dd>
								<dd class="gwidth-15">{L_TYPE}</dd>
								<dd class="gwidth-15">{L_TIME}&nbsp;(M:S:MS)</dd>
							</dl>
						</li>
					</ul>
					<ul class="garage_list">
						<!-- BEGIN lap -->
						<!-- IF lap.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
							<dl>
								<dt class="gcamera_image"><!-- IF lap.U_IMAGE --><a href="{lap.U_IMAGE}" rel="lightbox" class="garage-camera-icon"></a><!-- ENDIF --></dt>
								<dd class="gwidth-20"><b><a href="{lap.U_VIEWPROFILE}"  <!-- IF lap.USERNAME_COLOUR --> style="color: {lap.USERNAME_COLOUR}"<!-- ENDIF -->>{lap.USERNAME}</a></b></dd>
								<dd class="gwidth-20"><a href="{lap.U_VIEWVEHICLE}">{lap.VEHICLE}</a></dd>
								<dd class="gwidth-15">{lap.CONDITION}</dd>
								<dd class="gwidth-15">{lap.TYPE}</dd>
								<dd class="gwidth-15"><a href="{lap.U_LAP}">{lap.MINUTE}.{lap.SECOND}.{lap.MILLISECOND}</a></dd>
							</dl>
						</li>
						<!-- END lap -->
					</ul>
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<!-- ENDIF -->
</div>

<!-- INCLUDE garage/garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
