<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>
<!-- ENDIF -->

<!-- INCLUDE garage/garage_header.html -->

<!-- INCLUDE garage/garage_menu.html -->

<div id="garage-main">
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
	
			<div id="gtabs">
				<ul>
					<li class="garage_tab" id="tab000"><a href="#data" onclick="swap_options('0','0','0');"><span class="tabbg">{L_QUARTERMILE}</span></a></li>
					<!-- IF U_MANAGE_GALLERY --><li class="garage_tab" id="tab001"><a href="#images" onclick="swap_options('0','0','1');"><span class="tabbg">{L_IMAGES}</span></a></li><!-- ENDIF -->
				</ul>
			</div>

			<div class="panel bg3">
				<div class="inner">
					<span class="corners-top"><span></span></span>

					<div id="options000" style="display: none;">
						<div class="panel">
							<div class="inner">
								<span class="corners-top"><span></span></span>
								<form enctype="multipart/form-data" method="post" id="quartermile" action="{S_MODE_ACTION}">
								<h3>{L_TITLE}</h3>
								<fieldset>
									<dl>
										<dt>{L_RT_EXPLAIN}</dt>
										<dd><input name="rt" type="text" class="inputbox percision3" maxlength="3" value="{RT}" />{L_DECIMAL_SEPERATOR}<input name="rt_decimal" type="text" class="inputbox percision3" maxlength="3" value="{RT_DECIMAL}" /></dd>
									</dl>
									<dl>
										<dt>{L_SIXTY_EXPLAIN}</dt>
										<dd><input name="sixty" type="text" class="inputbox percision3" maxlength="3" value="{SIXTY}" />{L_DECIMAL_SEPERATOR}<input name="sixty_decimal" type="text" class="inputbox percision3" maxlength="3" value="{SIXTY_DECIMAL}" /></dd>
									</dl>
									<dl>
										<dt>{L_THREE_EXPLAIN}</dt>
										<dd><input name="three" type="text" class="inputbox percision3" maxlength="3" value="{THREE}" />{L_DECIMAL_SEPERATOR}<input name="three_decimal" type="text" class="inputbox percision3" maxlength="3" value="{THREE_DECIMAL}" /></dd>
									</dl>
									<dl>
										<dt>{L_EIGHTH_EXPLAIN}</dt>
										<dd><input name="eighth" type="text" class="inputbox percision3" maxlength="3" value="{EIGHTH}" />{L_DECIMAL_SEPERATOR}<input name="eighth_decimal" type="text" class="inputbox percision3" maxlength="3" value="{EIGHTH_DECIMAL}" /></dd>
									</dl>
									<dl>
										<dt>{L_EIGHTHMPH_EXPLAIN}</dt>
										<dd><input name="eighthmph" type="text" class="inputbox percision3" maxlength="3" value="{EIGHTHMPH}" />{L_DECIMAL_SEPERATOR}<input name="eighthmph_decimal" type="text" class="inputbox percision3" maxlength="3" value="{EIGHTHMPH_DECIMAL}" /></dd>
									</dl>
									<dl>
										<dt>{L_THOU_EXPLAIN}</dt>
										<dd><input name="thou" type="text" class="inputbox percision3" maxlength="3" value="{THOU}" />{L_DECIMAL_SEPERATOR}<input name="thou_decimal" type="text" class="inputbox percision3" maxlength="3" value="{THOU_DECIMAL}" /></dd>
									</dl>
									<dl>
										<dt>{L_QUART_EXPLAIN}</dt>
										<dd><input name="quart" type="text" class="inputbox percision3" maxlength="3" value="{QUART}" />{L_DECIMAL_SEPERATOR}<input name="quart_decimal" type="text" class="inputbox percision3" maxlength="3" value="{QUART_DECIMAL}" />&nbsp;<span class="gensmall" style="color:#FF0000">[{L_REQUIRED}]</span></dd>
									</dl>
									<dl>
										<dt>{L_QUARTMPH_EXPLAIN}</dt>
										<dd><input name="quartmph" type="text" class="inputbox percision3" maxlength="3" value="{QUARTMPH}"/>{L_DECIMAL_SEPERATOR}<input name="quartmph_decimal" type="text" class="inputbox percision3" maxlength="3" value="{QUARTMPH_DECIMAL}" /></dd>
									</dl>
				
									<!-- IF S_DISPLAY_DYNORUNS -->
									<dl>
										<dt><b>{L_LINK_TO_RR}</b></dt>
		  								<dd><select id="dynorun_id" name="dynorun_id"><option value="">{L_SELECT_A_OPTION}</option><option value="">------</option><!-- BEGIN dynorun --><option value="{dynorun.VALUE}" <!-- IF dynorun.S_SELECTED -->selected="selected"<!-- ENDIF -->>{dynorun.TEXT}</option><!-- END dynorun --></select></dd>
									</dl>
									<!-- ENDIF -->

									<!-- IF ! QMID -->
									<!-- INCLUDE garage/garage_image_attach.html -->
									<!-- ENDIF -->

								</fieldset>

								<fieldset>
									<input type="hidden" value="{VID}" name="VID" />
									<input type="hidden" value="{QMID}" name="QMID" />
									<input type="hidden" value="{REDIRECT}" name="redirect" />
								</fieldset>

								<fieldset class="submit-buttons">
									<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
									<input type="submit" name="submit" value="{L_BUTTON}" class="button1" />
								</fieldset>
								{S_FORM_TOKEN}
								</form>
								<span class="corners-bottom"><span></span></span>
							</div>
						</div>
					</div>

					<!-- IF QMID -->
					<div id="options001" style="display: none;">
						<div class="panel">
							<div class="inner">
								<span class="corners-top"><span></span></span>
								<!-- INCLUDE garage/garage_manage_gallery.html -->
								<span class="corners-bottom"><span></span></span>
							</div>
						</div>
					</div>
					<!-- ENDIF -->
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
		</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<script type="text/javascript">
<!--
	var lowest_tab = '0';
	var active_pmask = '0';
	var active_fmask = '0';
	if (document.location.hash == "")
	{
		active_cat = lowest_tab;
		dE('options00' + lowest_tab , 0)
		var active_tab = document.getElementById("tab00" + lowest_tab);
	}
	else if (document.location.hash == "#data")
	{
		active_cat = '0';
		dE('options000', 0)
		var active_tab = document.getElementById("tab000");
	}
	else if (document.location.hash == "#images")
	{
		active_cat = '1';
		dE('options001', 0)
		var active_tab = document.getElementById("tab001");
	}

	var id = '000';
	active_tab.setAttribute("class", "garage_tab activetab");

//-->
</script>

<!-- INCLUDE garage/garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
