<script type="text/javascript" src="{T_TEMPLATE_PATH}/garage/garage_functions.js"></script>

<script type="text/javascript">
<!--

var menu_state = 'shown';

/**
* Hiding/Showing the side menu
* Taken from phpBB3 ACP
*/
function garage_switch_menu(T_IMAGESET_PATH)
{
	var menu = document.getElementById('garage-menu');
	var main = document.getElementById('garage-main');
	var toggle = document.getElementById('garage-toggle');
	var handle = document.getElementById('garage-toggle-handle');	

	switch(menu_state)
	{	
		//hidden
		case 'shown':
			main.style.width = '100%';
			menu.style.display = 'none';
			menu_state = 'hidden';
			toggle.style.left = '0';
			toggle.style.width = '20px';
			handle.style.backgroundImage = 'url({T_IMAGESET_PATH}/garage_toggle.gif)';
			handle.style.backgroundPosition = '100% 50%';
			handle.style.backgroundRepeat = 'no-repeat';
			break;
		//shown
		case 'hidden':
			main.style.width = '81%';
			menu.style.display = 'block';			
			menu_state = 'shown';
			toggle.style.left = '16%';
			toggle.style.width = '16%';
			handle.style.backgroundImage = 'url({T_IMAGESET_PATH}/garage_toggle.gif)';
			handle.style.backgroundPosition = '0% 50%';
			handle.style.backgroundRepeat = 'no-repeat';			
			break;
	}
}

//-->
</script>

<div id="garage">
	<div id="tabs">
		<ul>
			<!-- IF S_GARAGE_DISPLAY_MAIN --><li <!-- IF S_MAIN_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_MAIN}"><span class="tabbg">{L_MAIN_MENU}</span></a></li><!-- ENDIF -->
			<!-- IF S_GARAGE_DISPLAY_BROWSE --><li <!-- IF S_BROWSE_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_BROWSE}"><span class="tabbg">{L_BROWSE}</span></a></li><!-- ENDIF -->
			<!-- IF S_GARAGE_DISPLAY_SEARCH --><li <!-- IF S_SEARCH_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_SEARCH}"><span class="tabbg">{L_SEARCH}</span></a></li><!-- ENDIF -->
			<!-- IF S_GARAGE_DISPLAY_INSURANCE_REVIEW --><li <!-- IF S_INSURANCE_REVIEW_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_INSURANCE_REVIEW}"><span class="tabbg">{L_INSURANCE_SUMMARY}</span></a></li><!-- ENDIF -->
			<!-- IF S_GARAGE_DISPLAY_SHOP_REVIEW --><li <!-- IF S_SHOP_REVIEW_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_SHOP_REVIEW}"><span class="tabbg">{L_SHOP_REVIEW}</span></a></li><!-- ENDIF -->
			<!-- IF S_GARAGE_DISPLAY_GARAGE_REVIEW --><li <!-- IF S_GARAGE_REVIEW_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_GARAGE_REVIEW}"><span class="tabbg">{L_GARAGE_REVIEW}</span></a></li><!-- ENDIF -->
			<!-- IF S_GARAGE_DISPLAY_QUARTERMILE_TABLE --><li <!-- IF S_QUARTERMILE_TABLE_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_QUARTERMILE_TABLE}"><span class="tabbg">{L_QUARTERMILE_TABLE}</span></a></li><!-- ENDIF -->
			<!-- IF S_GARAGE_DISPLAY_DYNORUN_TABLE --><li <!-- IF S_DYNORUN_TABLE_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_DYNORUN_TABLE}"><span class="tabbg">{L_DYNORUN_TABLE}</span></a></li><!-- ENDIF -->
			<!-- IF S_GARAGE_DISPLAY_LAP_TABLE --><li <!-- IF S_LAP_TABLE_TAB_ACTIVE -->class="activetab"<!-- ENDIF -->><a href="{U_GARAGE_LAP_TABLE}"><span class="tabbg">{L_LAP_TABLE}</span></a></li><!-- ENDIF -->	
		</ul>
	</div>

	<div class="panel bg3">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div style="width: 100%;">

