<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>
<!-- ENDIF -->

<!-- INCLUDE garage/garage_header.html -->

<!-- INCLUDE garage/garage_menu.html -->

<div id="garage-main">
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<h3>{VEHICLE} {L_DYNORUN}</h3>
			<fieldset>
				<dl>
                  			<dt><b>{L_VEHICLE}</b></dt>
                     			<dd>{YEAR} {MAKE} {MODEL}</dd>
				</dl>
				<dl>
                	        	<dt><b>{L_OWNER}</b></dt>
								<dd>{AVATAR_IMG}</dd>
                        		<dd><b><a href="{U_VIEW_PROFILE}" <!-- IF USERNAME_COLOUR --> style="color: {USERNAME_COLOUR}"<!-- ENDIF -->>{USERNAME}</a></b></dd>
				</dl>
                    		<dl>
	                        	<dt><b>{L_RT}</b></dt>
        	                	<dd>{RT}</dd>
                	    	</dl>
                    		<dl>
                        		<dt><b>{L_SIXTY}</b></dt>
					<dd>{SIXTY}</a></dd>
        	            	</dl>
                	    	<dl>
                        		<dt><b>{L_THREE}</b></dt>
                        		<dd>{THREE}</dd>
	                    	</dl>
        	            	<dl>
                	        	<dt><b>{L_EIGHTH}</b></dt>
                        		<dd>{EIGHTH}</dd>
	                    	</dl>
        	            	<dl>
                	        	<dt><b>{L_EIGHTHMPH}</b></dt>
                        		<dd>{EIGHTH}</dd>
	                    	</dl>
        	            	<dl>
                	        	<dt><b>{L_THOU}</b></dt>
                        		<dd>{THOU}</dd>
	                    	</dl>
        	            	<dl>
                	        	<dt><b>{L_QUART}</b></dt>
                        		<dd>{QUART}</dd>
	                    	</dl>
        	            	<dl>
                	        	<dt><b>{L_QUARTMPH}</b></dt>
                        		<dd>{QUARTMPH}</dd>
				</dl>
			</fieldset>
			
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<!-- IF S_DISPLAY_GALLERIES -->
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<h3>{L_QUARTERMILE_PICTURES}</h3>
			<div class="garage-image-gallery">
				<!-- BEGIN quartermile_image -->
				<a href="{quartermile_image.U_IMAGE}" rel="lightbox"><img hspace="5" vspace="5" name="{quartermile_image.IMAGE_NAME}" src="{quartermile_image.IMAGE_SOURCE}" /></a>
				<!-- END quartermile_image -->
		    	</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<!-- ENDIF -->
</div>

<!-- INCLUDE garage/garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
