<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td valign="top" width="50%">
		<table border="0" width="100%">
			<tr>
				<td><!-- INCLUDE garage/blocks/newest_vehicles.html --></td>
			</tr>
			<tr>
				<td><!-- INCLUDE garage/blocks/last_updated_vehicles.html --></td>
			</tr>
			<tr>
				<td><!-- INCLUDE garage/blocks/newest_modifications.html --></td>
			</tr>
			<tr>
				<td><!-- INCLUDE garage/blocks/last_updated_modifications.html --></td>
			</tr>
			<tr>
				<td><!-- INCLUDE garage/blocks/top_dyno_runs.html --></td>
			</tr>
			<tr>
				<td><!-- INCLUDE garage/blocks/top_quartermile_runs.html --></td>
			</tr>
		</table>
		</td>
		<td valign="top" width="50%">
		<table border="0" width="100%">
			<tr>
				<td><!-- INCLUDE garage/blocks/most_viewed_vehicles.html --></td>
			</tr>
			<tr>
				<td><!-- INCLUDE garage/blocks/top_rated_vehicles.html --></td>
			</tr>
			<tr>
				<td><!-- INCLUDE garage/blocks/most_modified_vehicle.html --></td>
			</tr>
			<tr>
				<td><!-- INCLUDE garage/blocks/most_money_spent.html --></td>
			</tr>
			<tr>
				<td><!-- INCLUDE garage/blocks/latest_vehicle_comments.html --></td>
			</tr>
			<tr>
				<td><!-- INCLUDE garage/blocks/top_lap_times.html --></td>
			</tr>
		</table>
		</td>
	</tr>
</table>
