<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>
<!-- ENDIF -->

<!-- INCLUDE garage/garage_header.html -->

<!-- INCLUDE garage/garage_menu.html -->

<script type="text/javascript">
<!--

function confirm_delete_vehicle(car_id)
{
	if ( confirm("{L_CONFIRM_DELETE_VEHICLE}") )
	{

		window.location.href = "{U_DELETE_VEHICLE2}&VID=" + car_id;
	}
}

function confirm_delete_mod (car_id, mod_id)
{
	if ( confirm("{L_CONFIRM_DELETE_MODIFICATION}") )
	{
		window.location.href = "{U_DELETE_MODIFICATION}&MID=" + mod_id + "&VID=" + car_id;
	}
}

function confirm_delete_insurance (car_id, ins_id)
{
	if ( confirm("{L_CONFIRM_DELETE_PREMIUM}") )
	{
		window.location.href = "{U_DELETE_PREMIUM}&INS_ID=" + ins_id + "&VID=" + car_id;
	}
}

function confirm_delete_quartermile (car_id, qm_id)
{
	if ( confirm("{L_CONFIRM_DELETE_QUARTERMILE}") )
	{
		window.location.href = "{U_DELETE_QUARTERMILE}&QMID=" + qm_id + "&VID=" + car_id;
	}
}

function confirm_delete_dynorun (car_id, did)
{
	if ( confirm("{L_CONFIRM_DELETE_DYNORUN}") )
	{
		window.location.href = "{U_DELETE_DYNORUN}&DID=" + did + "&VID=" + car_id;
	}
}

function confirm_delete_lap (car_id, lid)
{
	if ( confirm("{L_CONFIRM_DELETE_LAP}") )
	{
		window.location.href = "{U_DELETE_LAP}&LID=" + lid + "&VID=" + car_id;
	}
}

function confirm_delete_service (car_id, svid)
{
	if ( confirm("{L_CONFIRM_DELETE_SERVICE}") )
	{
		window.location.href = "{U_DELETE_SERVICE}&SVID=" + svid + "&VID=" + car_id;
	}
}

function confirm_delete_blog (car_id, bid)
{
	if ( confirm("{L_CONFIRM_DELETE_BLOG}") )
	{
		window.location.href = "{U_DELETE_BLOG}&BID=" + bid + "&VID=" + car_id;
	}
}

function jumpto_garage()
{
	var page = prompt('{LA_JUMP_PAGE}:', '{ON_PAGE}');
	var perpage = '{PER_PAGE}';
	var base_url = '{BASE_URL}';
	var hash_location = '#' + '{HASH_LOCATION}';

	if (page !== null && !isNaN(page) && page > 0)
	{
		document.location.href = base_url.replace(/&amp;/g, '&') + '&start=' + ((page - 1) * perpage) + hash_location;
	}
}

//-->
</script>

<div id="garage-main">
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<h3>{YEAR}&nbsp;{MAKE}&nbsp;{MODEL}</h3>
			<fieldset>
				<!-- IF ! S_DISPLAY_VEHICLE_OWNER -->
			    	<dl>
   					<dt><strong>{L_OWNER}</strong></dt>
					<dd><!-- IF AVATAR_IMG -->{AVATAR_IMG}<br /><!-- ENDIF --><strong><a href="{U_PROFILE}" <!-- IF USERNAME_COLOUR --> style="color: {USERNAME_COLOUR}"<!-- ENDIF -->>{USERNAME}</a></strong></dd>
		   		</dl>
				<!-- IF U_HILITE_IMAGE -->
				<dl>
    					<dt><strong>{L_HILITE_IMAGE}</strong></dt>
					<dd><a href="{U_HILITE_IMAGE}" rel="lightbox" title="{HILITE_IMAGE_TITLE}"><img src="{HILITE_IMAGE}" alt="" /></a><br /><span class="gensmall">{L_TOTAL_VIEWS}{L_COLEN} {TOTAL_IMAGE_VIEWS}</span></dd>
	                    	</dl>
				<!-- ENDIF -->
				<dl>
					<dt><strong>{L_DESCRIPTION}</strong></dt>
			       		<dd>{DESCRIPTION}</dd>
				</dl> 
				<!-- ENDIF -->
			</fieldset>

			<fieldset>
            	<dl>
								<dt><strong>{L_VEHICLE}</strong></dt>
								<dd>{YEAR}&nbsp;{MAKE}&nbsp;{MODEL}</dd>
				</dl>
				<dl>
                        		<dt><strong>{L_COLOUR}</strong></dt>
                        		<dd>{COLOUR}</dd>
				</dl>
				<dl>
                        		<dt><strong>{L_UPDATED}</strong></dt>
                        		<dd>{DATE_UPDATED}</dd>
				</dl>
				<dl>
                        		<dt><strong>{L_MILEAGE}</strong></dt>
                        		<dd>{MILEAGE}&nbsp;{MILEAGE_UNITS}</dd>
				</dl>
				<dl>
                        		<dt><strong>{L_ENGINE_TYPE}</strong></dt>
                        		<dd>{ENGINE_TYPE}</dd>
				</dl>
				<dl>
                        		<dt><strong>{L_PRICE}</strong></dt>
                        		<dd>{PRICE}&nbsp;{CURRENCY}</dd>
				</dl>
				<dl>
                        		<dt><strong>{L_TOTAL_MODS}</strong></dt>
                        		<dd>{TOTAL_MODS}</dd>
				</dl>
				<dl>
                        		<dt><strong>{L_TOTAL_SPENT}</strong></dt>
                        		<dd>{TOTAL_SPENT}&nbsp;{CURRENCY}</dd>
				</dl>
				<dl>
                        		<dt><strong>{L_TOTAL_VIEWS}</strong></dt>
                        		<dd>{TOTAL_VIEWS}</dd>
				</dl>
				<dl>
                        		<dt><strong>{L_VEHICLE_RATING}</strong></dt>
                        		<dd>{RATING}</dd>
				</dl>
				<!-- IF ! S_DISPLAY_VEHICLE_OWNER -->
            	    		<dl>
                        		<dt><strong>{L_PLEASE_RATE}</strong></dt>
					<dd><form method="post" name="view_vehicle" action="{S_MODE_ACTION}"><select id="vehicle_rating" name="vehicle_rating"><option value="">{L_SELECT_RATING}</option><option value="">------</option><!-- BEGIN rating --><option value="{rating.VALUE}" <!-- IF rating.S_SELECTED -->selected="selected"<!-- ENDIF -->>{rating.TEXT}</option><!-- END rating --></select>&nbsp;<input type="hidden" value="rate_vehicle" name="mode" /><input type="hidden" value="{VID}" name="VID" />
					<!-- IF S_DISPLAY_RATE -->
					<input name="submit" type="submit" value="{L_RATE}" class="liteoption" />
					<!-- ENDIF -->
					<i> {L_RATING_NOTICE}</i>{S_FORM_TOKEN}</form></dd>
                    		</dl>
				<!-- ENDIF -->
			</fieldset>
				<span class="corners-bottom"><span></span></span>
			</div>
		</div>
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<!-- IF U_VIEW_VEHICLE -->
			<!-- IF MODERATE or U_MODERATE_VEHICLE -->
			<h3>{L_MODERATE_VEHICLE}</h3>
			<!-- ELSE -->
			<h3>{L_MANAGE_VEHICLE}</h3>
			<!-- ENDIF -->
			<ul class="manage-vehicle-icons">
				<!-- IF ! U_MODERATE_VEHICLE -->
					<!-- IF U_VIEW_VEHICLE --><li class="viewvehicle-icon"><a href="{U_VIEW_VEHICLE}" title="{L_VIEW_VEHICLE}"></a></li><!-- ENDIF -->
					<!-- IF U_EDIT_VEHICLE --><li class="editvehicle-icon"><a href="{U_EDIT_VEHICLE}" title="{L_EDIT_VEHICLE}"></a></li><!-- ENDIF -->
					<!-- IF U_DELETE_VEHICLE --><li class="deletevehicle-icon"><a href="{U_DELETE_VEHICLE}" title="{L_DELETE_VEHICLE}"></a></li><!-- ENDIF -->
					<!-- IF U_ADD_MODIFICATION --><li class="newmodification-icon"><a href="{U_ADD_MODIFICATION}" title="{L_ADD_MODIFICATION}"></a></li><!-- ENDIF -->
					<!-- IF U_ADD_INSURANCE --><li class="newpremium-icon"><a href="{U_ADD_INSURANCE}" title="{L_ADD_PREMIUM}"></a></li><!-- ENDIF -->
					<!-- IF U_ADD_QUARTERMILE --><li class="newquartermile-icon"><a href="{U_ADD_QUARTERMILE}" title="{L_ADD_QUARTERMILE}"></a></li><!-- ENDIF -->
					<!-- IF U_ADD_DYNORUN --><li class="newdynorun-icon"><a href="{U_ADD_DYNORUN}" title="{L_ADD_DYNORUN}"></a></li><!-- ENDIF -->
					<!-- IF U_ADD_LAP --><li class="newlap-icon"><a href="{U_ADD_LAP}" title="{L_ADD_LAP}"></a></li><!-- ENDIF -->
					<!-- IF U_ADD_SERVICE --><li class="newservice-icon"><a href="{U_ADD_SERVICE}" title="{L_ADD_SERVICE}"></a></li><!-- ENDIF -->
					<!-- IF U_SET_MAIN_VEHICLE --><li class="mainvehicle-icon"><a href="{U_SET_MAIN_VEHICLE}" title="{L_SET_MAIN_VEHICLE}"></a></li><!-- ENDIF -->
				<!-- ELSE -->
					<li class="editvehicle-icon"><a href="{U_MODERATE_VEHICLE}" title="{L_MODERATE_VEHICLE}"></a></li>
				<!-- ENDIF -->
			</ul>
			<!-- ENDIF -->

				<span class="corners-bottom"><span></span></span>
			</div>
		</div>

		<div class="panel">
			<div class="inner">
				<span class="corners-top"><span></span></span>
			<div id="gtabs">
				<ul>
					<!-- IF S_DISPLAY_IMAGE_TAB --><li class="garage_preset_yes" id="tab000"><a href="#images" onclick="swap_options('0','0','0');"><span class="tabbg">{L_IMAGES}</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_MODIFICATION_TAB --><li class="garage_preset_yes" id="tab001"><a href="#modifications" onclick="swap_options('0','0','1');"><span class="tabbg">{L_MODIFICATIONS}</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_QUARTERMILE_TAB --><li class="garage_preset_yes" id="tab002"><a href="#quartermiles" onclick="swap_options('0','0','2');"><span class="tabbg">{L_QUARTERMILES}</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_DYNORUN_TAB --><li class="garage_preset_yes" id="tab003"><a href="#dynoruns" onclick="swap_options('0','0','3');"><span class="tabbg">{L_DYNORUNS}</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_LAP_TAB --><li class="garage_preset_yes" id="tab004"><a href="#laps" onclick="swap_options('0','0','4');"><span class="tabbg">{L_LAPS}</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_PREMIUM_TAB --><li class="garage_preset_yes" id="tab005"><a href="#premiums" onclick="swap_options('0','0','5');"><span class="tabbg">{L_PREMIUMS}</span></a></li><!-- ENDIF -->	
					<!-- IF S_DISPLAY_SERVICE_TAB --><li class="garage_preset_yes" id="tab006"><a href="#services" onclick="swap_options('0','0','6');"><span class="tabbg">{L_SERVICES}</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_RATING_TAB --><li class="garage_preset_yes" id="tab009"><a href="#ratings" onclick="swap_options('0','0','9');"><span class="tabbg">{L_RATINGS}</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_BLOG_TAB --><li class="garage_preset_yes" id="tab007"><a href="#blog" onclick="swap_options('0','0','7');"><span class="tabbg">{L_BLOG}</span></a></li><!-- ENDIF -->
					<!-- IF S_DISPLAY_GUESTBOOK_TAB --><li class="garage_preset_yes" id="tab008"><a href="#guestbook" onclick="swap_options('0','0','8');"><span class="tabbg">{L_GUESTBOOK}</span></a></li>	<!-- ENDIF -->
					<!-- IF S_DISPLAY_RATINGS_TAB --><li class="garage_preset_yes" id="tab009"><a href="#ratings" onclick="swap_options('0','0','9');"><span class="tabbg">{L_RATINGS}</span></a></li>	<!-- ENDIF -->
				</ul>
			</div>

			<!-- IF S_DISPLAY_IMAGE_TAB or S_DISPLAY_MODIFICATION_TAB or S_DISPLAY_QUARTERMILE_TAB or S_DISPLAY_DYNORUN_TAB or S_DISPLAY_LAP_TAB or S_DISPLAY_PREMIUM_TAB or S_DISPLAY_SERVICE_TAB or S_DISPLAY_BLOG_TAB or S_DISPLAY_GUESTBOOK_TAB or S_DISPLAY_RATINGS_TAB -->
			<div class="panel bg3" id="garage-subtabs">
				<div class="inner">
					<span class="corners-top"><span></span></span>

					<div id="options000" style="display: none;">
						<!-- IF S_DISPLAY_GALLERIES -->
						<div class="panel">
							<div class="inner">
								<span class="corners-top"><span></span></span>
								<!-- IF S_DISPLAY_VEHICLE_IMAGES -->
								<h3>{L_VEHICLE_PICTURES}</h3>
								<div class="garage-image-gallery">
									<!-- BEGIN vehicle_image -->
									<a href="{vehicle_image.U_IMAGE}" rel="lightbox"><img alt="{vehicle_image.IMAGE_NAME}" src="{vehicle_image.IMAGE_SOURCE}" /></a>
										<!-- END vehicle_image -->
									</div>
									<!-- ENDIF -->
									<!-- IF S_DISPLAY_MODIFICATION_IMAGES -->
									<h3>{L_MODIFICATION_PICTURES}</h3>
									<div class="garage-image-gallery">
										<!-- BEGIN modification_image -->
										<a href="{modification_image.U_IMAGE}" rel="lightbox"><img alt="{modification_image.IMAGE_NAME}" src="{modification_image.IMAGE_SOURCE}" /></a>
										<!-- END modification_image -->
									</div>
									<!-- ENDIF -->
									<!-- IF S_DISPLAY_QUARTERMILE_IMAGES -->
									<h3>{L_QUARTERMILE_PICTURES}</h3>
									<div class="garage-image-gallery">
										<!-- BEGIN quartermile_image -->
										<a href="{quartermile_image.U_IMAGE}" rel="lightbox"><img alt="{quartermile_image.IMAGE_NAME}" src="{quartermile_image.IMAGE_SOURCE}" /></a>
										<!-- END quartermile_image -->
							    		</div>
									<!-- ENDIF -->
									<!-- IF S_DISPLAY_DYNORUN_IMAGES -->
									<h3>{L_DYNORUN_PICTURES}</h3>
									<div class="garage-image-gallery">
										<!-- BEGIN dynorun_image -->
										<a href="{dynorun_image.U_IMAGE}" rel="lightbox"><img alt="{dynorun_image.IMAGE_NAME}" src="{dynorun_image.IMAGE_SOURCE}" /></a>
										<!-- END dynorun_image -->
									</div>
									<!-- ENDIF -->
									<!-- IF S_DISPLAY_LAP_IMAGES -->
									<h3>{L_LAP_PICTURES}</h3>
									<div class="garage-image-gallery">
										<!-- BEGIN lap_image -->
										<a href="{lap_image.U_IMAGE}" rel="lightbox"><img alt="{lap_image.IMAGE_NAME}" src="{lap_image.IMAGE_SOURCE}" /></a>
										<!-- END lap_image -->
									</div>
									<!-- ENDIF -->
									<span class="corners-bottom"><span></span></span>
								</div>
							</div>
							<!-- ENDIF -->
						</div>

						<div id="options001" style="display: none;">
							<!-- BEGIN category -->
							<div id="garage-subtabs2" class="panel garage-subtabstest">
								<div class="inner">
									<span class="corners-top"><span></span></span>
							<h3>{category.CATEGORY_TITLE}&nbsp;{L_MODIFICATIONS}</h3>
							<div class="forabg">
								<div class="inner">
									<span class="corners-top"><span></span></span>
									<ul class="garage_list">
										<li class="header">
											<dl>
												<dt class="gcamera_image"></dt>
												<dd class="gwidth-20">{L_MODIFICATION}</dd>
												<dd class="gwidth-5">{L_RATING}</dd>
												<dd class="gwidth-10">{L_COST}</dd>
												<dd class="gwidth-10">{L_INSTALL}</dd>
												<dd class="gwidth-20">{L_CREATED}</dd>
												<dd class="gwidth-20">{L_UPDATED}</dd>
												<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd></dd><dd></dd><!-- ENDIF -->
											</dl>
										</li>
									</ul>
									<ul class="garage_list">
										<!-- BEGIN modification -->
										<!-- IF modification.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
											<dl>
												<dt class="gcamera_image"><!-- IF category.modification.U_IMAGE --><a href="{category.modification.U_IMAGE}" rel="lightbox" class="garage-camera-icon"></a><!-- ENDIF --></dt>
												<dd class="gwidth-20">{category.modification.MODIFICATION}</dd>
												<dd class="gwidth-5">{category.modification.RATING}</dd>
												<dd class="gwidth-10">{category.modification.COST}</dd>
												<dd class="gwidth-10">{category.modification.INSTALL}</dd>
												<dd class="gwidth-20">{category.modification.CREATED}</dd>
												<dd class="gwidth-20">{category.modification.UPDATED}</dd>
												<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd><!-- IF category.modification.U_EDIT --><a href="{category.modification.U_EDIT}" class="garage-edit-icon"></a><!-- ENDIF --></dd><dd><!-- IF category.modification.U_DELETE--><a href="{category.modification.U_DELETE}" class="garage-delete-icon"></a><!-- ENDIF --></dd><!-- ENDIF -->
											</dl>
										</li>
										<!-- END modification -->
									</ul>
									<span class="corners-bottom"><span></span></span>
								</div>
							</div>
								<span class="corners-bottom"><span></span></span>
							</div>
						</div>
							<!-- END category -->
						</div>
			
						<div id="options002" style="display: none;">
							<div id="garage-subtabs2" class="panel">
								<div class="inner">
									<span class="corners-top"><span></span></span>
							<!-- BEGIN quartermile -->
							<h3>{L_QUARTER_MILE_TIMES}</h3>
							<div class="forabg">
								<div class="inner"><span class="corners-top"><span></span></span>
									<ul class="garage_list">
										<li class="header">
											<dl>
												<dt class="gcamera_image"></dt>
												<dd class="gwidth-10">{L_RT}</dd>
												<dd class="gwidth-10">{L_SIXTY}</dd>
												<dd class="gwidth-10">{L_THREE}</dd>
												<dd class="gwidth-10">{L_EIGHTH}</dd>
												<dd class="gwidth-10">{L_EIGHTHMPH}</dd>
												<dd class="gwidth-10">{L_THOU}</dd>
												<dd class="gwidth-10">{L_QUART}</dd>
												<dd class="gwidth-10">{L_QUARTMPH}</dd>
												<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd></dd><dd></dd><!-- ENDIF -->
											</dl>
										</li>
									</ul>
									<ul class="garage_list">
										<!-- BEGIN run -->
										<!-- IF run.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
											<dl>
												<dt class="gcamera_image"><!-- IF quartermile.run.U_IMAGE --><a href="{quartermile.run.U_IMAGE}" rel="lightbox" class="garage-camera-icon"></a><!-- ENDIF --></dt>
									  			<dd class="gwidth-10">{quartermile.run.RT}</dd>
									  			<dd class="gwidth-10">{quartermile.run.SIXTY}</dd>
												<dd class="gwidth-10">{quartermile.run.THREE}</dd>
												<dd class="gwidth-10">{quartermile.run.EIGHTH}</dd>
												<dd class="gwidth-10">{quartermile.run.EIGHTHMPH}</dd>
												<dd class="gwidth-10">{quartermile.run.THOU}</dd>
												<dd class="gwidth-10"><a href="{quartermile.run.U_QUART}">{quartermile.run.QUART}</a></dd>
												<dd class="gwidth-10">{quartermile.run.QUARTMPH}</dd>
												<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd><!-- IF quartermile.run.U_EDIT --><a href="{quartermile.run.U_EDIT}" class="garage-edit-icon"></a><!-- ENDIF --></dd><dd><!-- IF quartermile.run.U_DELETE--><a href="{quartermile.run.U_DELETE}" class="garage-delete-icon"></a><!-- ENDIF --></dd><!-- ENDIF -->
											</dl>
										</li>
										<!-- END run -->
									</ul>
								</div><span class="corners-bottom"><span></span></span>
							</div>
							<!-- END quartermile -->
									<span class="corners-bottom"><span></span></span>
								</div>
							</div>
						</div>

						<div id="options003" style="display: none;">
							<div id="garage-subtabs2" class="panel">
								<div class="inner">
									<span class="corners-top"><span></span></span>
							<!-- BEGIN dynorun -->
							<h3>{L_DYNORUNS}</h3>
							<div class="forabg">
								<div class="inner"><span class="corners-top"><span></span></span>
									<ul class="garage_list">
										<li class="header">
											<dl>
												<dt class="gcamera_image"></dt>
												<dd class="gwidth-10">{L_DYNOCENTRE}</dd>
												<dd class="gwidth-10">{L_BHP}</dd>
												<dd class="gwidth-10">{L_BHP_UNIT}</dd>
												<dd class="gwidth-10">{L_TORQUE}</dd>
												<dd class="gwidth-10">{L_TORQUE_UNIT}</dd>
												<dd class="gwidth-10">{L_BOOST}</dd>
												<dd class="gwidth-10">{L_BOOST_UNIT}</dd>
												<dd class="gwidth-10">{L_NITROUS}</dd>
												<dd class="gwidth-10">{L_PEAKPOINT}</dd>
												<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd></dd><dd></dd><!-- ENDIF -->
											</dl>
										</li>
									</ul>
									<ul class="garage_list">
										<!-- BEGIN run -->
										<!-- IF run.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
											<dl>
												<dt class="gcamera_image"><!-- IF dynorun.run.U_IMAGE --><a href="{dynorun.run.U_IMAGE}" rel="lightbox" class="garage-camera-icon"></a><!-- ENDIF --></dt>
												<dd class="gwidth-10">{dynorun.run.DYNOCENTER}</dd>
												<dd class="gwidth-10"><a href="{dynorun.run.U_BHP}">{dynorun.run.BHP}</a></dd>
												<dd class="gwidth-10">{dynorun.run.BHP_UNIT}</dd>
												<dd class="gwidth-10">{dynorun.run.TORQUE}</dd>
												<dd class="gwidth-10">{dynorun.run.TORQUE_UNIT}</dd>				
												<dd class="gwidth-10">{dynorun.run.BOOST}</dd>
												<dd class="gwidth-10">{dynorun.run.BOOST_UNIT}</dd>
												<dd class="gwidth-10">{dynorun.run.NITROUS}</dd>
												<dd class="gwidth-10">{dynorun.run.PEAKPOINT}</dd>
												<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd><!-- IF dynorun.run.U_EDIT --><a href="{dynorun.run.U_EDIT}" class="garage-edit-icon"></a><!-- ENDIF --></dd><dd><!-- IF dynorun.run.U_DELETE--><a href="{dynorun.run.U_DELETE}" class="garage-delete-icon"></a><!-- ENDIF --></dd><!-- ENDIF -->
											</dl>
										</li>
										<!-- END run -->
									</ul>
								</div><span class="corners-bottom"><span></span></span>
							</div>
							<!-- END dynorun -->
									<span class="corners-bottom"><span></span></span>
								</div>
							</div>
						</div>

						<div id="options004" style="display: none;">
							<div id="garage-subtabs2" class="panel">
								<div class="inner">
									<span class="corners-top"><span></span></span>
							<!-- BEGIN tracktime -->
							<h3>{L_LAPS}</h3>
							<div class="forabg">
								<div class="inner"><span class="corners-top"><span></span></span>
									<ul class="garage_list">
										<li class="header">
											<dl>
												<dt class="gcamera_image"></dt>
												<dd class="gwidth-20">{L_TRACK}</dd>
												<dd class="gwidth-20">{L_CONDITION}</dd>
												<dd class="gwidth-20">{L_TYPE}</dd>
												<dd class="gwidth-20">{L_TIME}&nbsp;<span class="gensmall">(M:S:MS)</span></dd>
												<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd></dd><dd></dd><!-- ENDIF -->
											</dl>
										</li>
									</ul>
									<ul class="garage_list">
										<!-- BEGIN lap -->
										<!-- IF lap.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
											<dl>
												<dt class="gcamera_image"><!-- IF tracktime.lap.U_IMAGE --><a href="{tracktime.lap.U_IMAGE}" rel="lightbox" class="garage-camera-icon"></a><!-- ENDIF --></dt>
												<dd class="gwidth-20"><a href="{tracktime.lap.U_TRACK}">{tracktime.lap.TRACK}</a></dd>
												<dd class="gwidth-20">{tracktime.lap.CONDITION}</dd>
												<dd class="gwidth-20">{tracktime.lap.TYPE}</dd>
												<dd class="gwidth-20"><a href="{tracktime.lap.U_LAP}">{tracktime.lap.MINUTE}.{tracktime.lap.SECOND}.{tracktime.lap.MILLISECOND}</a></dd>
												<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd><!-- IF tracktime.lap.U_EDIT --><a href="{tracktime.lap.U_EDIT}" class="garage-edit-icon"></a><!-- ENDIF --></dd><dd><!-- IF tracktime.lap.U_DELETE--><a href="{tracktime.lap.U_DELETE}" class="garage-delete-icon"></a><!-- ENDIF --></dd><!-- ENDIF -->
											</dl>
										</li>
										<!-- END lap -->
									</ul>
								</div><span class="corners-bottom"><span></span></span>
							</div>
							<!-- END tracktime -->
									<span class="corners-bottom"><span></span></span>
								</div>
							</div>
						</div>

						<div id="options005" style="display: none;">
							<div id="garage-subtabs2" class="panel">
								<div class="inner">
									<span class="corners-top"><span></span></span>
							<!-- BEGIN insurance -->
							<h3>{L_INSURANCE_PREMIUMS}</h3>
							<div class="forabg">
								<div class="inner"><span class="corners-top"><span></span></span>
									<ul class="garage_list">
										<li class="header">
											<dl>
												<dt class="gwidth-20">{L_INSURANCE_COMPANY}</dt>
												<dd class="gwidth-20">{L_PREMIUM}</dd>
												<dd class="gwidth-20">{L_COVER_TYPE}</dd>
												<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd></dd><dd></dd><!-- ENDIF -->
											</dl>
										</li>
									</ul>
									<ul class="garage_list">
										<!-- BEGIN premium -->
										<!-- IF premium.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
											<dl>
												<dt class="gwidth-20"><a href="{insurance.premium.U_INSURER}">{insurance.premium.INSURER}</a></dt>
								  				<dd class="gwidth-20">{insurance.premium.PREMIUM}</dd>
												<dd class="gwidth-20">{insurance.premium.COVER_TYPE}</dd>
												<!-- IF S_DISPLAY_VEHICLE_OWNER --><dd><!-- IF insurance.premium.U_EDIT --><a href="{insurance.premium.U_EDIT}" class="garage-edit-icon"></a><!-- ENDIF --></dd><dd><!-- IF insurance.premium.U_DELETE--><a href="{insurance.premium.U_DELETE}" class="garage-delete-icon"></a><!-- ENDIF --></dd><!-- ENDIF -->
											</dl>
										</li>
										<!-- END premium -->
									</ul>
								</div><span class="corners-bottom"><span></span></span>
							</div>
							<!-- END insurance -->
									<span class="corners-bottom"><span></span></span>
								</div>
							</div>
						</div>

						<div id="options006" style="display: none;">
							<div id="garage-subtabs2" class="panel">
								<div class="inner">
									<span class="corners-top"><span></span></span>
									<!-- BEGIN service_history -->
									<h3>{L_SERVICE_HISTORY}</h3>
									<div class="forabg">
										<div class="inner">
											<span class="corners-top"><span></span></span>
											<ul class="garage_list">
												<li class="header">
													<dl>
														<dt class="gwidth-20">{L_GARAGE}</dt>
														<dd class="gwidth-20">{L_TYPE}</dd>
														<dd class="gwidth-10">{L_COST}</dd>
														<dd class="gwidth-10">{L_RATING}</dd>
														<dd class="gwidth-10">{L_MILEAGE}</dd>
														<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd></dd><dd></dd><!-- ENDIF -->
													</dl>
												</li>
											</ul>
											<ul class="garage_list">
												<!-- BEGIN service -->
												<!-- IF service.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
													<dl>
														<dt class="gwidth-20"><a href="{service_history.service.U_GARAGE}">{service_history.service.TITLE}</a></dt>
	  													<dd class="gwidth-20">{service_history.service.TYPE}</dd>
														<dd class="gwidth-10">{service_history.service.PRICE}</dd>
														<dd class="gwidth-10">{service_history.service.RATING}</dd>
														<dd class="gwidth-10">{service_history.service.MILEAGE}</dd>
														<!-- IF S_DISPLAY_VEHICLE_OWNER --><dd><!-- IF service_history.service.U_EDIT --><a href="{service_history.service.U_EDIT}" class="garage-edit-icon"></a><!-- ENDIF --></dd><dd><!-- IF service_history.service.U_DELETE--><a href="{service_history.service.U_DELETE}" class="garage-delete-icon"></a><!-- ENDIF --></dd><!-- ENDIF -->
													</dl>
												</li>
												<!-- END service -->
											</ul>
										</div>
										<span class="corners-bottom"><span></span></span>
									</div>
									<!-- END service_history -->
									<span class="corners-bottom"><span></span></span>
								</div>
							</div>
						</div>

						<div id="options007" style="display: none;">
							<div id="garage-subtabs2" class="panel">
								<div class="inner">
									<span class="corners-top"><span></span></span>
									<!-- BEGIN blog -->
									<form method="post" id="blog" action="{S_MODE_BLOG_ACTION}">
									<!-- IF S_DISPLAY_ENTRY_BLOG -->
									<h3>{L_ADD_BLOG}</h3>
									<dl>
										<dt>{L_BLOG_HEADER}</dt>
										<dd><input name="blog_title" type="text" class="inputbox autowidth" size="60" value="" /></dd>
									</dl>
									<dl>
										<dt>{L_ADD_BLOG}</dt>
										<dd><textarea name="blog_text" cols="70" rows="6" class="inputbox autowidth"></textarea></dd>
									</dl>
	
									<fieldset>
										<input type="hidden" value="{VID}" name="VID" />
									</fieldset>
	
									<fieldset class="submit-buttons">
										<input type="submit" name="submit" value="{L_ADD_BLOG}" class="button1" />
									</fieldset>
									<!-- ENDIF -->

									<!-- BEGIN entry -->
									<dl>
										<dd><h3>{blog.entry.BLOG_TITLE}</h3>
										<ul class="profile-icons">
											<!-- IF blog.entry.U_EDIT --><li class="edit-icon"><a href="{blog.entry.U_EDIT}" title="{L_EDIT_BLOG}"><span>{L_EIT_BLOG}</span></a></li><!-- ENDIF -->
											<!-- IF blog.entry.U_DELETE --><li class="delete-icon"><a href="{blog.entry.U_DELETE}" title="{L_DELETE_BLOG}"><span>{L_DELETE_BLOG}</span></a></li><!-- ENDIF -->
										</ul>
										</br>
										{blog.entry.BLOG_DATE}<br /><br />{blog.entry.BLOG_TEXT}</dd>
									</dl>
									<!-- BEGINELSE -->
									<dl>
										<dd>{L_ADD_FIRST_BLOG}</dd>
									</dl>
									<!-- END entry -->
								{S_FORM_TOKEN}
								</form>

							<!-- END blog -->
									<span class="corners-bottom"><span></span></span>
								</div>
							</div>
						</div>

						<div id="options008" style="display: none;">
							<div id="garage-subtabs2" class="panel">
								<div class="inner">
								<span class="corners-top"><span></span></span>
								<!-- BEGIN guestbook -->

								<form method="post" name="guestbook" action="{S_MODE_GUESTBOOK_ACTION}">
									<!-- BEGIN comments -->

									<div id="p{guestbook.comments.POST_ID}" class="post <!-- IF guestbook.comments.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF guestbook.comments.S_ONLINE --> online<!-- ENDIF --> garage-subtabs">
										<div id="garage-subtabs3" class="inner"><span class="corners-top"><span></span></span>
											<div class="postbody">

											<!-- IF guestbook.comments.U_DELETE or guestbook.comments.U_EDIT -->
											<ul class="profile-icons">
												<!-- IF guestbook.comments.U_EDIT --><li class="edit-icon"><a href="{guestbook.comments.U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
												<!-- IF guestbook.comments.U_DELETE --><li class="delete-icon"><a href="{guestbook.comments.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
											</ul>
											<!-- ENDIF -->

											<h3 <!-- IF guestbook.comments.S_FIRST_ROW -->class="first"<!-- ENDIF -->><!-- IF guestbook.comments.POST_ICON_IMG --><img src="{T_ICONS_PATH}{guestbook.comments.POST_ICON_IMG}" width="{guestbook.comments.POST_ICON_IMG_WIDTH}" height="{guestbook.comments.POST_ICON_IMG_HEIGHT}" alt="" /> <!-- ENDIF --></h3>
											<p class="author">{L_POST_BY_AUTHOR} <strong>{guestbook.comments.POST_AUTHOR_FULL}</strong> {L_POSTED_ON_DATE} {guestbook.comments.POST_DATE} </p>

											<div class="content">{guestbook.comments.MESSAGE}</div>

											<!-- IF guestbook.comments.SIGNATURE --><div id="sig{guestbook.comments.POST_ID}" class="signature">{guestbook.comments.SIGNATURE}</div><!-- ENDIF -->

											</div>

											<dl class="postprofile" id="profile{guestbook.comments.POST_ID}">
											<dt>
												<!-- IF guestbook.comments.POSTER_AVATAR -->
													<!-- IF guestbook.comments.U_POST_AUTHOR --><a href="{guestbook.comments.U_POST_AUTHOR}">{guestbook.comments.POSTER_AVATAR}</a><!-- ELSE -->{guestbook.comments.POSTER_AVATAR}<!-- ENDIF --><br />
												<!-- ENDIF -->
												<!-- IF not guestbook.comments.U_POST_AUTHOR --><strong>{guestbook.comments.POST_AUTHOR_FULL}</strong><!-- ELSE -->{guestbook.comments.POST_AUTHOR_FULL}<!-- ENDIF -->
											</dt>

											<!-- IF guestbook.comments.RANK_TITLE or guestbook.comments.RANK_IMG --><dd>{guestbook.comments.RANK_TITLE}<!-- IF guestbook.comments.RANK_TITLE and guestbook.comments.RANK_IMG --><br /><!-- ENDIF -->{guestbook.comments.RANK_IMG}</dd><!-- ENDIF -->

											<dd>&nbsp;</dd>

											<!-- IF guestbook.comments.POSTER_POSTS != '' --><dd><strong>{L_POSTS}{L_COLEN}</strong> {guestbook.comments.POSTER_POSTS}</dd><!-- ENDIF -->
											<!-- IF guestbook.comments.POSTER_JOINED --><dd><strong>{L_JOINED}{L_COLEN}</strong> {guestbook.comments.POSTER_JOINED}</dd><!-- ENDIF -->
											<!-- IF guestbook.comments.POSTER_FROM --><dd><strong>{L_LOCATION}{L_COLEN}</strong> {guestbook.comments.POSTER_FROM}</dd><!-- ENDIF -->

											<!-- IF guestbook.comments.U_PM or guestbook.comments.U_EMAIL or guestbook.comments.U_WWW or guestbook.comments.U_MSN or guestbook.comments.U_ICQ or guestbook.comments.U_YIM or guestbook.comments.U_AIM -->
											<dd>
												<ul class="profile-icons">
													<!-- IF guestbook.comments.U_PM --><li class="pm-icon"><a href="{guestbook.comments.U_PM}" title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li><!-- ENDIF -->
													<!-- IF guestbook.comments.U_EMAIL --><li class="email-icon"><a href="{guestbook.comments.U_EMAIL}" title="{L_EMAIL}"><span>{L_EMAIL}</span></a></li><!-- ENDIF -->
													<!-- IF guestbook.comments.U_WWW --><li class="web-icon"><a href="{guestbook.comments.U_WWW}" title="{L_VISIT_WEBSITE}{L_COLEN} {guestbook.comments.U_WWW}"><span>{L_WEBSITE}</span></a></li><!-- ENDIF -->
													<!-- IF guestbook.comments.U_MSN --><li class="msnm-icon"><a href="{guestbook.comments.U_MSN}" onclick="popup(this.href, 550, 320); return false;" title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
													<!-- IF guestbook.comments.U_ICQ --><li class="icq-icon"><a href="{guestbook.comments.U_ICQ}" onclick="popup(this.href, 550, 320); return false;" title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
													<!-- IF guestbook.comments.U_YIM --><li class="yahoo-icon"><a href="{guestbook.comments.U_YIM}" onclick="popup(this.href, 780, 550); return false;" title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
													<!-- IF guestbook.comments.U_AIM --><li class="aim-icon"><a href="{guestbook.comments.U_AIM}" onclick="popup(this.href, 550, 320); return false;" title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
													<!-- IF guestbook.comments.U_JABBER --><li class="jabber-icon"><a href="{guestbook.comments.U_JABBER}" onclick="popup(this.href, 550, 320); return false;" title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
												</ul>
											</dd>
											<!-- ENDIF -->

											</dl>

										<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>

									<span class="corners-bottom"><span></span></span></div>
									</div>
	
									<hr class="divider" />


									<!-- BEGINELSE -->
									<h3>{L_ADD_FIRST_COMMENT}</h3>
									<!-- END comments -->

									<!-- IF S_DISPLAY_LEAVE_COMMENT -->
									<dl>
										<dt>{L_ADD_COMMENT}</dt>
										<dd><textarea name="comments" cols="70" rows="7" class="inputbox autowidth"></textarea></dd>
									</dl>
	
									<fieldset>
										<input type="hidden" value="insert_comment" name="mode" />
										<input type="hidden" value="{VID}" name="VID" />
									</fieldset>
	
									<fieldset class="submit-buttons">
										<input type="submit" name="submit" value="{L_POST_COMMENT}" class="button1" />
									</fieldset>
									<!-- ENDIF -->

								{S_FORM_TOKEN}
								</form>
                        <!-- IF PAGINATION or TOTAL_BUSINESS -->
                        <div class="pagination">
                           {TOTAL_BUSINESS}
						<!-- IF PAGINATION --><b><a href="#" onclick="jumpto_garage(); return false;" title="{L_JUMP_TO_PAGE}">{L_GOTO_PAGE}</a> <!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}">{L_PREVIOUS}</a>&nbsp;&nbsp;<!-- ENDIF -->{PAGINATION}<!-- IF NEXT_PAGE -->&nbsp;&nbsp;<a href="{NEXT_PAGE}">{L_NEXT}</a><!-- ENDIF --></b><!-- ENDIF -->
                     </div>
                     <!-- ENDIF -->
								<!-- END guestbook -->
								<span class="corners-bottom"><span></span></span>
							</div>
						</div>

						<div id="options009" style="display: none;">
							<div id="garage-subtabs2" class="panel">
								<div class="inner">
									<span class="corners-top"><span></span></span>
									<!-- BEGIN rating_history -->
									<h3>{L_VEHICLE_RATINGS}</h3>
									<div class="forabg">
										<div class="inner">
											<span class="corners-top"><span></span></span>
											<ul class="garage_list">
												<li class="header">
													<dl>
														<dt class="gwidth-20">{L_GARAGE}</dt>
														<dd class="gwidth-20">{L_TYPE}</dd>
														<dd class="gwidth-10">{L_COST}</dd>
														<dd class="gwidth-10">{L_RATING}</dd>
														<dd class="gwidth-10">{L_MILEAGE}</dd>
														<!-- IF S_DISPLAY_VEHICLE_OWNER--><dd></dd><dd></dd><!-- ENDIF -->
													</dl>
												</li>
											</ul>
											<ul class="garage_list">
												<!-- BEGIN rated -->
												<!-- IF rated.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
													<dl>
														<dt class="gwidth-20"><a href="{service_history.service.U_GARAGE}">{service_history.service.TITLE}</a></dt>
	  													<dd class="gwidth-20">{service_history.service.TYPE}</dd>
														<dd class="gwidth-10">{service_history.service.PRICE}</dd>
														<dd class="gwidth-10">{service_history.service.RATING}</dd>
														<dd class="gwidth-10">{service_history.service.MILEAGE}</dd>
														<!-- IF S_DISPLAY_VEHICLE_OWNER --><dd><!-- IF service_history.service.U_EDIT --><a href="{service_history.service.U_EDIT}" class="garage-edit-icon"></a><!-- ENDIF --></dd><dd><!-- IF service_history.service.U_DELETE--><a href="{service_history.service.U_DELETE}" class="garage-delete-icon"></a><!-- ENDIF --></dd><!-- ENDIF -->
													</dl>
												</li>
												<!-- END service -->
											</ul>
										</div>
										<span class="corners-bottom"><span></span></span>
									</div>
									<!-- END service_history -->
									<span class="corners-bottom"><span></span></span>
								</div>
							</div>
						</div>

					</div>
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
			<!-- ENDIF -->
		</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<script type="text/javascript">
<!--
	var lowest_tab = '{S_LOWEST_TAB_AVAILABLE}';
	var active_pmask = '0';
	var active_fmask = '0';
	if (document.location.hash == "")
	{
		active_cat = lowest_tab;
		dE('options00' + lowest_tab , 0)
		var active_tab = document.getElementById("tab00" + lowest_tab);
	}
	else if (document.location.hash == "#images")
	{
		active_cat = '0';
		dE('options000', 0)
		var active_tab = document.getElementById("tab000");
	}
	else if (document.location.hash == "#modifications")
	{
		active_cat = '1';
		dE('options001', 0)
		var active_tab = document.getElementById("tab001");
	}
	else if (document.location.hash == "#quartermiles")
	{
		active_cat = '2';
		dE('options002', 0)	
		var active_tab = document.getElementById("tab002");
	}
	else if (document.location.hash == "#dynoruns")
	{
		active_cat = '3';
		dE('options003', 0)
		var active_tab = document.getElementById("tab003");
	}
	else if (document.location.hash == "#laps")
	{
		active_cat = '4';
		dE('options004', 0)
		var active_tab = document.getElementById("tab004");
	}
	else if (document.location.hash == "#premiums")
	{
		active_cat = '5';
		dE('options005', 0)
		var active_tab = document.getElementById("tab005");
	}
	else if (document.location.hash == "#services")
	{
		active_cat = '6';
		dE('options006', 0)
		var active_tab = document.getElementById("tab006");
	}
	else if (document.location.hash == "#blog")
	{
		active_cat = '7',
		dE('options007', 0)
		var active_tab = document.getElementById("tab007");
	}
	else if (document.location.hash == "#guestbook")
	{
		active_cat = '8';
		dE('options008', 0)
		var active_tab = document.getElementById("tab008");
	}

	var id = '000';
	active_tab.setAttribute("class", "garage_preset_yes activetab");

//-->
</script>

<!-- INCLUDE garage/garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
