<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>
<!-- ENDIF -->

<!-- INCLUDE garage/garage_header.html -->

<!-- INCLUDE garage/garage_menu.html -->

<div id="garage-main">
	<!-- BEGIN business_row -->
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<h3><a href="{business_row.U_VIEW_BUSINESS}">{business_row.TITLE}</a></h3>
			<dl>
				<dt><b>{L_BUSINESS_NAME} {L_COLEN} </b><a href="{business_row.U_VIEW_BUSINESS}">{business_row.TITLE}</a> <!-- BEGIN more_detail -->{L_CLICK_FOR_MORE_DETAIL}<!-- END more_detail --></dt>
				<dd><b>{L_ADDRESS} {L_COLEN} </b>{business_row.ADDRESS}</dd>
				<dd><b>{L_TELEPHONE} {L_COLEN} </b>{business_row.TELEPHONE}</dd>
				<dd><b>{L_FAX} {L_COLEN}</b> {business_row.FAX}</dd>
				<dd><b>{L_WEBSITE} {L_COLEN} </b><a href="{business_row.WEBSITE}">{business_row.WEBSITE}</a></dd>
				<dd><b>{L_EMAIL} {L_COLEN} </b>{business_row.EMAIL}</dd>
				<dd><b>{L_OPENING_HOURS} {L_COLEN} </b>{business_row.OPENING_HOURS}</dd>
				<dd><b>{L_RATING} {L_COLEN} </b>{business_row.RATING} {L_OUT_OF} {business_row.MAX_RATING}</dd>
			</dl>

			<h3>{L_LAST_CUSTOMERS}</h3>
			<div class="forabg">
				<div class="inner">
					<span class="corners-top"><span></span></span>
					<!-- BEGIN customers -->
					<ul class="garage_list">
						<li class="header">
							<dl>
								<dt class="gwidth-20">{L_OWNER}</dt>
								<dd class="gwidth-20">{L_VEHICLE}</dd>
								<dd class="gwidth-20">{L_MODIFICATION}</dd>
								<dd class="gwidth-10">{L_PURCHASE_RATING}</dd>
								<dd class="gwidth-10">{L_PRODUCT_RATING}</dd>
								<dd class="gwidth-10">{L_PRICE}</dd>
							</dl>
						</li>
					</ul>
					<ul class="garage_list">
					<!-- END customers --> 				
					<!-- BEGIN mod_row -->
						<!-- IF mod_row.ROW_NUMBER is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
							<dl>
								<dt class="gwidth-20"><b><a href="{business_row.mod_row.U_VIEW_PROFILE}" <!-- IF business_row.mod_row.USERNAME_COLOUR --> style="color: {business_row.mod_row.USERNAME_COLOUR}"<!-- ENDIF -->>{business_row.mod_row.USERNAME}</a></b></dt>
								<dd class="gwidth-20"><a href="{business_row.mod_row.U_VIEW_VEHICLE}">{business_row.mod_row.VEHICLE}</a></dd>
								<dd class="gwidth-20"><a href="{business_row.mod_row.U_VIEW_MODIFICATION}">{business_row.mod_row.MODIFICATION}</a></dd>
								<dd class="gwidth-10">{business_row.mod_row.PURCHASE_RATING}</dd>
								<dd class="gwidth-10">{business_row.mod_row.PRODUCT_RATING}</dd>
								<dd class="gwidth-10">{business_row.mod_row.PRICE}</dd>
							</dl>
						</li>
					<!-- END mod_row -->
					</ul>
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>

 			<!-- BEGIN comments -->
			<h3>{L_COMMENTS}</h3>
			<!-- END comments -->
 			<!-- BEGIN customer_comments -->
			{business_row.customer_comments.COMMENTS}
			<!-- END customer_comments -->

			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<!-- END business_row -->

	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<!-- IF PAGINATION or TOTAL_BUSINESS -->
			<div class="pagination">
				{TOTAL_BUSINESS}
				<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
			</div>
			<!-- ENDIF -->
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
</div>

<!-- INCLUDE garage/garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
