				<!-- IF S_DISPLAY_IMAGE_ATTACH_OPTIONS -->
				<h3>{L_IMAGE_ATTACHMENTS}</h3>
				<!-- IF S_DISPLAY_KEEP_IMAGE -->
				<dl>
					<dt><input type="radio" name="editupload" value="keep" checked />&nbsp;<b>{L_KEEP_CURRENT_IMAGE}</b> ( {CURRENT_IMAGE} )</dt>
					<dd><a href="{U_IMAGE}" title="{IMAGE_TITLE}"><img src="{IMAGE}" alt="{}" /></a></dd>
				</dl>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_REMOVE_IMAGE -->
				<dl>
			             <dt><b>{L_REMOVE_IMAGE}</b></dt>
			             <dd><input type="radio" name="editupload" value="delete" /><input type="hidden" value="{allow_images.remove_image.IMAGE_ID}" name="image_id" /></dd>
		        	</dl>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_REPLACE_UPLOAD_IMAGE -->
				<dl>
					<dt><b>{L_IMAGE_ATTACH}<br />{L_MAXIMUM_IMAGE_FILE_SIZE} {L_COLEN} {MAXIMUM_IMAGE_FILE_SIZE} {L_KBYTES}<br />{L_MAXIMUM_IMAGE_RESOLUTION} {L_COLEN} {MAXIMUM_IMAGE_RESOLUTION}<br />{L_IMAGE_TYPE}</b></dt>
					<dd><input type="radio" name="editupload" value="new" />&nbsp;<b>{L_REPLACE_WITH_NEW_IMAGE}<br /><input class="inputbox autowidth" size="30"  type="file" size="30" name="FILE_UPLOAD"/></td>
				</dl>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_UPLOAD_IMAGE -->
				<dl>
					<dt><b>{L_IMAGE_ATTACH}<br />{L_MAXIMUM_IMAGE_FILE_SIZE} {L_COLEN}</b> {MAXIMUM_IMAGE_FILE_SIZE} {L_KBYTES}<br /><b>{L_MAXIMUM_IMAGE_RESOLUTION} {L_COLEN}</b> {MAXIMUM_IMAGE_RESOLUTION}<br />{L_IMAGE_TYPE}</dt>
					<dd><input type="file" name="FILE_UPLOAD" id="FILE_UPLOAD" maxlength="{FILESIZE}" value="" class="inputbox autowidth" /></dd>
				</dl>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_REPLACE_REMOTE_IMAGE -->
				<dl>
					<dt></dt>
					<dd><input type="radio" name="editupload" value="new" />&nbsp;<b>{L_REPLACE_WITH_NEW_REMOTE_IMAGE}</span><br /><input name="url_image" type="text" class="inputbox autowidth" size="40" maxlength="255" value="http://" /></dd>
				</dl>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_REMOTE_IMAGE -->
				<dl>
					<dt><b>{L_ENTER_IMAGE_URL}</b></dt>
					<dd><input name="url_image" type="text" class="inputbox medium" value="<!-- IF URL_IMAGE -->{URL_IMAGE}<!-- ELSE -->http://<!-- ENDIF -->" /></dd>
				</dl>
				<!-- ENDIF -->
				<!-- ENDIF -->


