<!-- IF S_DISPLAY_PROFILE -->
<!-- IF S_DISPLAY_GARAGE_PROFILE and VEHICLE -->
<div class="panel bg2">
   <div class="inner"><span class="corners-top"><span></span></span>
   <div class="column1">
      <h3>{USERNAME}'s {YEAR}&nbsp;{MAKE}&nbsp;{MODEL}</h3></td>
      <dl class="details">
            <dt>{L_VEHICLE}: </dt>
            <dd>{YEAR} {MAKE} {MODEL}</dd>
            <dt>{L_COLOUR}: </dt>
            <dd>{COLOUR}</dd>
            <dt>{L_MILEAGE}: </dt>
            <dd>{MILEAGE} {MILEAGE_UNITS}</dd>
            <dt>{L_PRICE}: </dt>
            <dd>{PRICE} {CURRENCY}</dd>
            <dt>{L_TOTAL_MODS}: </dt>
            <dd>{TOTAL_MODS}</dd>
            <dt>{L_TOTAL_SPENT}: </dt>
            <dd>{TOTAL_SPENT} {CURRENCY}</dd>
            <dt>{L_DESCRIPTION}: </dt>
            <dd>{DESCRIPTION}</dd>
      </dl>
   </div>

   <div class="column2">
      <h3>{USERNAME}'s {MAKE}&nbsp;{MODEL}&nbsp;{L_MAIN_VEHICLE_IMAGE}</h3>
      <dl class="details" height="128">
         {HILITE_IMAGE}
      </dl>
   </div>
   <span class="corners-bottom"><span></span></span>
</div></div>
<!-- ENDIF -->
<!-- ENDIF -->