<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>
<!-- ENDIF -->

<!-- INCLUDE garage/garage_header.html -->

<!-- INCLUDE garage/garage_menu.html -->

<div id="garage-main">
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
	
			<div id="gtabs">
				<ul>
					<li class="activetab" id="tab000"><a href="#data"><span class="tabbg">{L_PREMIUM}</span></a></li>
				</ul>
			</div>

			<div class="panel bg3">
				<div class="inner">
					<span class="corners-top"><span></span></span>

					<div id="options000" style="display: block;">
						<div class="panel">
							<div class="inner">
								<span class="corners-top"><span></span></span>

								<form id="insurance" enctype="multipart/form-data" method="post" action="{S_MODE_ACTION}">
								<h3>{L_TITLE}</h3>
								<fieldset>		
									<dl>
										<dt><b>{L_INSURANCE_COMPANY}</b>&nbsp;<span style="color:#FF0000">[{L_REQUIRED}]</span></dt>
	  									<dd><select id="business_id" name="business_id"><option value="">{L_SELECT_INSURER}</option><option value="">------</option><!-- BEGIN insurer --><option value="{insurer.VALUE}" <!-- IF insurer.S_SELECTED -->selected="selected"<!-- ENDIF -->>{insurer.TEXT}</option><!-- END insurer --></select>&nbsp;&nbsp;{L_NOT_LISTED_YET}<a href="{U_SUBMIT_BUSINESS}">{L_HERE}</a></dd>
									</dl>
									<dl>
										<dt><b>{L_PREMIUM_PRICE}</b>&nbsp;<span style="color:#FF0000">[{L_REQUIRED}]</span></dt>
										<dd>{CURRENCY}{L_COLEN}<input name="premium" type="text" class="inputbox percision6" maxlength="8" value="{PREMIUM}" />{L_DECIMAL_SEPERATOR}<input name="premium_decimal" type="text" class="inputbox percision2" maxlength="2" value="{PREMIUM_DECIMAL}" /></dd>
									</dl>
									<dl>
										<dt><b>{L_COVER_TYPE}</b>&nbsp;<span style="color:#FF0000">[{L_REQUIRED}]</span></dt>
									  	<dd><select id="cover_type_id" name="cover_type_id"><option value="">{L_SELECT_COVER}</option><option value="">------</option><!-- BEGIN cover --><option value="{cover.VALUE}" <!-- IF cover.S_SELECTED -->selected="selected"<!-- ENDIF -->>{cover.TEXT}</option><!-- END cover --></select></dd>
									</dl>
									<dl>
										<dt><b>{L_COMMENTS}</b></dt>
										<dd><textarea name="comments" cols="60" rows="5" class="inputbox autowidth">{COMMENTS}</textarea></dd>
									</dl>
								</fieldset>		
			
								<fieldset>
									<input type="hidden" value="{VID}" name="VID" />
									<input type="hidden" value="{INS_ID}" name="INS_ID" />
									<input type="hidden" value="" name="primary" />
									<input type="hidden" value="" name="secondary" />
									<input type="hidden" value="" name="tertiary" />
								</fieldset>

								<fieldset class="submit-buttons">
									<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
									<input type="submit" name="submit2" value="{L_BUTTON}" class="button1" />
								</fieldset>
								{S_FORM_TOKEN}
								</form>
								<span class="corners-bottom"><span></span></span>
							</div>
						</div>
					</div>
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
		</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<script type="text/javascript">
<!--

function add_insurer ( tertiary )
{
	var insurance = document.getElementById("insurance");
	insurance.action = '{S_MODE_USER_SUBMIT}';
	insurance.primary.value = 'premium' ;
	insurance.secondary.value = '' ;
	insurance.tertiary.value = tertiary ;
	insurance.submit() ;
}

-->
</script>

<!-- INCLUDE garage/garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
