<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>
<!-- ENDIF -->

<!-- INCLUDE garage/garage_header.html -->

<!-- INCLUDE garage/garage_menu.html -->

<div id="garage-main">
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<form enctype="multipart/form-data" method="post" name="view_all_images" action="{S_MODE_ACTION}">

				<div class="forabg">
					<div class="inner">
						<span class="corners-top"><span></span></span>
						<ul class="topiclist">
							<li class="header">
								<dl>
									<dd class="index_block_header">{L_IMAGE}</dd>
									<dd class="index_block_header">{L_OWNER}</dd>
									<dd class="index_block_header">{L_VEHICLE}</dd>
								</dl>
							</li>
						</ul>
						<ul class="topiclist forums">
							<!-- BEGIN pic_row -->
							<!-- IF pic_row.S_ROW_COUNT is even --><li class="row bg1"><!-- ELSE --><li class="row bg2"><!-- ENDIF -->
								<dl>
									<dd class="index_block"><a href="{pic_row.U_IMAGE}" rel="lightbox" title="{pic_row.IMAGE_TITLE}" ><img src="{pic_row.IMAGE}" /></a></dd>
									<dd class="index_block"><b><a href="{pic_row.U_VIEW_PROFILE}" <!-- IF pic_row.USERNAME_COLOUR --> style="color: {pic_row.USERNAME_COLOUR}"<!-- ENDIF -->>{pic_row.USERNAME}</a></b></dd>
									<dd class="index_block"><a href="{pic_row.U_VIEW_VEHICLE}">{pic_row.VEHICLE}</a></dd>
								</dl>
							</li>
							<!-- BEGINELSE -->
							<div class="panel">
								<div class="inner">
									<span class="corners-top"><span></span></span>
									<strong>{L_NO_ITEM_TO_LIST}</strong>
									<span class="corners-bottom"><span></span></span>
								</div>
							</div>
							<!-- END pic_row -->
						</ul>

						<span class="corners-bottom"><span></span></span>
					</div>
				</div>
				{S_FORM_TOKEN}
			</form>

			<!-- IF PAGINATION or TOTAL_IMAGES -->
			<div class="pagination">
				{TOTAL_IMAGES}
				<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
			</div>
			<!-- ENDIF -->

			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
</div>

<!-- INCLUDE garage/garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
