							
			<div id="garage-toggle">						
				<a id="garage-toggle-handle" accesskey="m" title="{L_TOGGLE_MENU}" onclick="garage_switch_menu(); return false;" href="#"></a>
			</div>

			<div id="garage-menu">		
				<!-- IF S_DISPLAY_USER_VEHICLES -->
				<div class="vehicles-mini">
					<div class="inner">
						<span class="corners-top"><span></span></span>
						<!-- IF S_GARAGE_DISPLAY_CREATE_VEHICLE -->
						<ul class="manage-vehicle-icons" style="display: table; margin-left: auto; margin-right: auto;">
							<li class="newvehicle-icon">
								<a href="{U_GARAGE_CREATE_VEHICLE}" title="{L_CREATE_VEHICLE}"></a>
							</li>
						</ul>
						<!-- ENDIF -->
						<table width="100%">
							<tr>
								<td><h3>{L_MY_VEHICLES}</h3></td>
							</tr>
						</table>
						<dl>
							<!-- BEGIN user_vehicles -->
							<dd><a href="{user_vehicles.U_VIEW_VEHICLE}">{user_vehicles.VEHICLE}</a></dd>
							<!-- END user_vehicles -->
						</dl>
						<span class="corners-bottom"><span></span></span>
					</div>
				</div>
				<!-- ENDIF -->

				<!-- IF S_GARAGE_DISPLAY_UPDATED_VEHICLES -->
				<div class="vehicles-mini">
					<div class="inner">
						<span class="corners-top"><span></span></span>
						<h3>{L_LATEST_UPDATED}</h3>
						<dl class="mini">
							<!-- BEGIN updated_vehicles -->
							<dd><a href="{updated_vehicles.U_VIEW_VEHICLE}" >{updated_vehicles.VEHICLE}</a><br />{updated_vehicles.UPDATED_TIME}<br />{L_OWNER}{L_COLEN}&nbsp;<b><a href="{updated_vehicles.U_VIEW_PROFILE}" <!-- IF updated_vehicles.USERNAME_COLOUR --> style="color: {updated_vehicles.USERNAME_COLOUR}"<!-- ENDIF -->>{updated_vehicles.USERNAME}</a></b></dd>
							<!-- END updated_vehicles -->
						</dl>
						<span class="corners-bottom"><span></span></span>
					</div>
				</div>
				<!-- ENDIF -->
			</div>
