<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
	<div id="pageheader">
		<p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
	</div>
<!-- ENDIF -->

<!-- INCLUDE garage/garage_header.html -->

<!-- INCLUDE garage/garage_menu.html -->

<div id="garage-main">
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
	
			<div id="gtabs">
				<ul>
					<li class="garage_tab" id="tab000"><a href="#data" onclick="swap_options('0','0','0');"><span class="tabbg">{L_LAP}</span></a></li>
					<!-- IF U_MANAGE_GALLERY --><li class="garage_tab" id="tab001"><a href="#images" onclick="swap_options('0','0','1');"><span class="tabbg">{L_IMAGES}</span></a></li><!-- ENDIF -->
				</ul>
			</div>

			<div class="panel bg3">
				<div class="inner">
					<span class="corners-top"><span></span></span>

					<div id="options000" style="display: none;">
						<div class="panel">
							<div class="inner">
								<span class="corners-top"><span></span></span>

								<form id="lap" enctype="multipart/form-data" method="post" action="{S_MODE_ACTION}">
								<h3>{L_TITLE}</h3>
								<fieldset>
									<dl>
										<dt><b>{L_TRACK}</b>&nbsp;<span style="color:#FF0000">[{L_REQUIRED}]</span></dt>
										<dd><select id="track_id" name="track_id" ><option value="">{L_SELECT_TRACK}</option><option value="">------</option><!-- BEGIN track --><option value="{track.VALUE}" <!-- IF track.S_SELECTED -->selected="selected"<!-- ENDIF -->>{track.TEXT}</option><!-- END track --></select>
										<!-- IF S_DISPLAY_ADD_TRACK -->
											&nbsp;{L_NOT_LISTED_YET}<a href="{U_ADD_TRACK}">{L_HERE}</a>
										<!-- ENDIF -->
										</dd>
									</dl>
									<dl>
										<dt><b>{L_TRACK_CONDITION}</b>&nbsp;<span style="color:#FF0000">[{L_REQUIRED}]</span></dt>
										<dd><select id="condition_id" name="condition_id" ><option value="">{L_SELECT_CONDITION}</option><option value="">------</option><!-- BEGIN condition --><option value="{condition.VALUE}" <!-- IF condition.S_SELECTED -->selected="selected"<!-- ENDIF -->>{condition.TEXT}</option><!-- END condition --></select></dd>
									</dl>
									<dl>
										<dt><b>{L_LAP_TYPE}</b>&nbsp;<span style="color:#FF0000">[{L_REQUIRED}]</span></dt>
										<dd><select id="type_id" name="type_id" ><option value="">{L_SELECT_TYPE}</option><option value="">------</option><!-- BEGIN type --><option value="{type.VALUE}" <!-- IF type.S_SELECTED -->selected="selected"<!-- ENDIF -->>{type.TEXT}</option><!-- END type --></select></dd>
									</dl>
									<dl>
										<dt><b>{L_LAP_TIME}</b>&nbsp;<span style="color:#FF0000">[{L_REQUIRED}]</span></dt>
										<dd><b>M</b><input name="minute" type="text" class="inputbox autowidth" size="2" maxlength="2" value="{MINUTE}" />&nbsp;<b>S</b><input name="second" type="text" class="inputbox autowidth" size="2" maxlength="2" value="{SECOND}" />&nbsp;<b>MS</b><input name="millisecond" type="text" class="inputbox autowidth" size="2" maxlength="3" value="{MILLISECOND}" /></dd>
									</dl>
	
									<!-- IF ! LID -->
										<!-- INCLUDE garage/garage_image_attach.html -->
									<!-- ENDIF -->	
	
								</fieldset>

								<fieldset>
									<input type="hidden" value="{VID}" name="VID" />
									<input type="hidden" value="{LID}" name="LID" />
									<input type="hidden" value="" name="primary" />
									<input type="hidden" value="" name="secondary" />
									<input type="hidden" value="" name="tertiary" />
									<input type="hidden" value="{REDIRECT}" name="redirect" />
								</fieldset>
				
								<fieldset class="submit-buttons">
									<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
									<input type="submit" name="submit2" value="{L_BUTTON}" class="button1" />
								</fieldset>
								{S_FORM_TOKEN}
								</form>
								<span class="corners-bottom"><span></span></span>
							</div>
						</div>
					</div>

					<!-- IF LID -->
					<div id="options001" style="display: none;">
						<div class="panel">
							<div class="inner">
								<span class="corners-top"><span></span></span>
								<!-- INCLUDE garage/garage_manage_gallery.html -->
								<span class="corners-bottom"><span></span></span>
							</div>
						</div>
					</div>
					<!-- ENDIF -->
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
		</div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<script type="text/javascript">
<!--
function add_track ( tertiary )
{
	var lap = document.getElementById("lap");
	lap.action = '{S_MODE_USER_SUBMIT}';
	lap.primary.value = 'lap' ;
	lap.secondary.value = '' ;
	lap.tertiary.value = tertiary ;
	lap.submit() ;
}
-->
</script>

<script type="text/javascript">
<!--
	var lowest_tab = '0';
	var active_pmask = '0';
	var active_fmask = '0';
	if (document.location.hash == "")
	{
		active_cat = lowest_tab;
		dE('options00' + lowest_tab , 0)
		var active_tab = document.getElementById("tab00" + lowest_tab);
	}
	else if (document.location.hash == "#data")
	{
		active_cat = '0';
		dE('options000', 0)
		var active_tab = document.getElementById("tab000");
	}
	else if (document.location.hash == "#images")
	{
		active_cat = '1';
		dE('options001', 0)
		var active_tab = document.getElementById("tab001");
	}

	var id = '000';
	active_tab.setAttribute("class", "garage_tab activetab");

//-->
</script>

<!-- INCLUDE garage/garage_footer.html -->

<!-- INCLUDE overall_footer.html -->
