<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{S_MCP_ACTION}">

<div class="panel">

	<div class="inner"><span class="corners-top"><span></span></span>

	<!-- IF S_EDIT_MAKE -->

	<h3>{L_EDIT_MAKE}</h3>
	<fieldset>
		<dl>
			<dt>{L_VEHICLE_MAKE}</dt>
			<dd><input name="make" type="text" class="inputbox autowidth" size="35" value="{MAKE}" /></dd>
		</dl>
	</fieldset>

	<fieldset class="display-actions">
		<input type="hidden" name="id" value="{MAKE_ID}" />
		<input class="button2" type="submit" name="submit" value="{L_SUBMIT}" />
	</fieldset>

	<!-- ELSEIF S_EDIT_MODEL -->

	<h3>{L_EDIT_MODEL}</h3>

	<fieldset>
		<dl>
			<dt>{L_VEHICLE_MAKE}</dt>
			<dd>{MAKE}</span></dd>
		</dl>
		<dl>
			<dt>{L_VEHICLE_MODEL}</dt>
			<dd><input name="model" type="text" class="inputbox autowidth" size="35" value="{MODEL}" /></dd>
		</dl>
	</fieldset>

	<fieldset class="display-actions">
		<input type="hidden" name="id" value="{MODEL_ID}" />
		<input class="button2" type="submit" name="submit" value="{L_SUBMIT}" />
	</fieldset>

	<!-- ELSEIF S_EDIT_BUSINESS -->

	<h3>{L_EDIT_BUSINESS}</h3>

	<fieldset>
		<dl>
			<dt><b>{L_BUSINESS_NAME}</b></dt>
			<dd><input name="title" type="text" class="inputbox autowidth" size="35" value="{TITLE}" /> <span style="color:#FF0000">[{L_REQUIRED}]</span></dd>
		</dl>
		<dl>
			<dt><b>{L_ADDRESS}</b></dt>
			<dd><textarea name="address" cols="40" rows="4" wrap="soft" class="inputbox autowidth">{ADDRESS}</textarea></dd>
		</dl>
		<dl>
			<dt><b>{L_TELEPHONE}</b></dt>
			<dd><input name="telephone" type="text" class="inputbox autowidth" size="35" value="{TELEPHONE}" /></dd>
		</dl>
		<dl>
			<dt><b>{L_FAX}</b></dt>
			<dd><input name="fax" type="text" class="inputbox autowidth" size="35" value="{FAX}" /></dd>
		</dl>
		<dl>
			<dt><b>{L_WEBSITE}</b></dt>
			<dd><input name="website" type="text" class="inputbox autowidth" size="35" value="{WEBSITE}" /></dd>
		</dl>
		<dl>
			<dt><b>{L_EMAIL}</b></dt>
			<dd><input name="email" type="text" class="inputbox autowidth" size="35" value="{EMAIL}" /></dd>
		</dl>
		<dl>
			<dt><b>{L_OPENING_HOURS}</b></dt>
			<dd><textarea name="opening_hours" cols="40" rows="4" wrap="soft" class="inputbox autowidth">{OPENING_HOURS}</textarea></dd>
		</dl>
		<dl>
			<dt><b>{L_TYPE}</b></dt>
			<dd>{L_INSURANCE}&nbsp;{L_COLEN}&nbsp;<input type="checkbox" name="insurance" value="1" <!-- IF S_BUSINESS_INSURANCE -->checked="checked"<!-- ENDIF --> /><br />{L_GARAGE}&nbsp;{L_COLEN}&nbsp;<input type="checkbox" name="garage" value="1" <!-- IF S_BUSINESS_GARAGE-->checked="checked"<!-- ENDIF --> /><br />{L_RETAIL}&nbsp;{L_COLEN}&nbsp;<input type="checkbox" name="retail" value="1" <!-- IF S_BUSINESS_RETAIL -->checked="checked"<!-- ENDIF --> /><br />{L_PRODUCT_MANUFACTURER}&nbsp;{L_COLEN}&nbsp;<input type="checkbox" name="product" value="1" <!-- IF S_BUSINESS_PRODUCT -->checked="checked"<!-- ENDIF --> /><br />{L_DYNOCENTRE}&nbsp;{L_COLEN}&nbsp;<input type="checkbox" name="dynocentre" value="1" <!-- IF S_BUSINESS_DYNOCENTRE -->checked="checked"<!-- ENDIF --> /></dd>
		</dl>
	</fieldset>

	<fieldset class="display-actions">
		<input type="hidden" name="id" value="{BUSINESS_ID}" />
		<input class="button2" type="submit" name="submit" value="{L_SUBMIT}" />
	</fieldset>

	<!-- ELSEIF S_EDIT_TRACK -->

	<h3>{L_EDIT_TRACK}</h3>

	<fieldset>
		<dl>
			<dt><b>{L_TRACK}</b>&nbsp;<span style="color:#FF0000">[{L_REQUIRED}]</span></dt>
			<dd><input name="title" type="text" class="inputbox autowidth" size="35" value="{TITLE}" /></dd>
		</dl>
		<dl>
			<dt><b>{L_LENGTH}</b></dt>
			<dd><input name="length" type="text" class="inputbox autowidth" size="15" value="{LENGTH}" />&nbsp;<select id="mileage_unit" name="mileage_unit"><option value="">{L_SELECT_MILEAGE_UNIT}</option><option value="">------</option><!-- BEGIN mileage --><option value="{mileage.VALUE}" <!-- IF mileage.S_SELECTED -->selected="selected"<!-- ENDIF -->>{mileage.TEXT}</option><!-- END mileage --></select></dd>
		</dl>
	</fieldset>

	<fieldset class="display-actions">
		<input type="hidden" name="id" value="{TRACK_ID}" />
		<input class="button2" type="submit" name="submit" value="{L_SUBMIT}" />
	</fieldset>

	<!-- ELSEIF S_EDIT_PRODUCT -->

	<h3>{L_EDIT_PRODUCT}</h3>

	<fieldset>
		<dl>
			<dt><b>{L_CATEGORY}</b>&nbsp;<span style="color:#FF0000">[{L_REQUIRED}]</span></dt>
			<dd><select id="category_id" name="category_id" ><option value="">{L_SELECT_CATEGORY}</option><option value="">------</option><!-- BEGIN category--><option value="{category.VALUE}" <!-- IF category.S_SELECTED -->selected="selected"<!-- ENDIF -->>{category.TEXT}</option><!-- END category --></select>&nbsp;</dd>
		</dl>
		<dl>
			<dt><b>{L_MANUFACTURER}</b>&nbsp;<span style="color:#FF0000">[{L_REQUIRED}]</span></dt>
			<dd><select id="manufacturer_id" name="manufacturer_id" ><option value="">{L_SELECT_MANUFACTURER}</option><option value="">------</option><!-- BEGIN manufacturer--><option value="{manufacturer.VALUE}" <!-- IF manufacturer.S_SELECTED -->selected="selected"<!-- ENDIF -->>{manufacturer.TEXT}</option><!-- END manufacturer --></select></dd>
		</dl>
		<dl>
			<dt><b>{L_MODIFICATION}&nbsp;{L_PRODUCT}</b></dt>
			<dd><input name="title" type="text" class="inputbox autowidth" size="35" value="{TITLE}" /></dd>
		</dl>
	</fieldset>

	<fieldset class="display-actions">
		<input type="hidden" name="product_id" value="{PRODUCT_ID}" />
		<input class="button2" type="submit" name="submit" value="{L_SUBMIT}" />
	</fieldset>

	<!-- ELSEIF S_UNAPPROVED_VEHICLE -->

	<h3>{L_MCP_GARAGE_UNAPPROVED_VEHICLES}</h3>

	<table cellspacing="1" class="table1">
	<thead>
		<tr> 
			<th></th>
			<th class="name">{L_USERNAME}</th>
	  		<th class="name">{L_VEHICLE}</th>
		  	<th class="name">{L_COLOUR}</th>
  			<th class="name">{L_PRICE}</th>
		  	<th class="name">{L_MILEAGE}</th>
			<th class="name" width="5%">{L_MARK}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN vehicle_row -->
		<!-- IF vehicle_row.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
			<td><!-- IF vehicle_row.U_IMAGE --><a href="{vehicle_row.U_IMAGE}" target="_blank">{vehicle_row.IMAGE}</a><!-- ENDIF --></td>
			<td><b><a href="{vehicle_row.U_PROFILE}" <!-- IF vehicle_row.USERNAME_COLOUR --> style="color: {vehicle_row.USERNAME_COLOUR}"<!-- ENDIF -->>{vehicle_row.USERNAME}</a></b></td>
			<td>{vehicle_row.MAKE}&nbsp;{vehicle_row.MODEL}&nbsp;{vehicle_row.ENGINE_TYPE}</td>
			<td>{vehicle_row.COLOUR}</td>
			<td>{vehicle_row.PRICE}&nbsp;{vehicle_row.CURRENCY}</td>
			<td>{vehicle_row.MILEAGE}&nbsp;{vehicle_row.MILEAGE_UNIT}</td>
			<td align="center"><input type="checkbox" class="radio" name="id_list[]" value="{vehicle_row.ID}" /></td>
		</tr>
		<!-- BEGINELSE -->
		<tr>
			<td class="bg1" colspan="7" align="center"><span class="gen">{L_NO_VEHICLES_PENDING}</span></td>
		</tr>
		<!-- END vehicle_row -->
	</tbody>
	</table>

	<fieldset class="display-actions">
		<input class="button2" type="submit" name="action[approve_vehicle]" value="{L_APPROVE}" />
		<!-- IF S_GARAGE_EDIT -->&nbsp;<input class="button1" type="submit" name="action[edit_vehicle]" value="{L_EDIT}" /><!-- ENDIF -->
		<!-- IF S_GARAGE_DELETE -->&nbsp;<input class="button1" type="submit" name="action[disapprove_vehicle]" value="{L_DISAPPROVE}" /><!-- ENDIF -->
		<div><a href="#" onclick="marklist('mcp', 'id_list', true); return false;">{L_MARK_ALL}</a> {L_COLEN}{L_COLEN} <a href="#" onclick="marklist('mcp', 'id_list', false); return false;">{L_UNMARK_ALL}</a></div>
	</fieldset>

	<!-- ELSEIF S_UNAPPROVED_MAKE -->

	<h3>{L_MCP_GARAGE_UNAPPROVED_MAKES}</h3>

	<table cellspacing="1" class="table1">
	<thead>
		<tr> 
			<th class="name">{L_MAKE}</th>
			<th class="name" width="5%">{L_MARK}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN makes_row -->
		<!-- IF makes_row.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
			<td>{makes_row.MAKE}</td>
			<td align="center"><input type="checkbox" class="radio" name="id_list[]" value="{makes_row.ID}" /></td>
		</tr>
		<!-- BEGINELSE -->
		<tr>
			<td class="bg1" colspan="2" height="30" align="center" valign="middle"><span class="gen">{L_NO_MAKES_PENDING}</span></td>
		</tr>
		<!-- END makes_row -->
	</tbody>
	</table>

	<fieldset class="display-actions">
		<input class="button2" type="submit" name="action[approve_make]" value="{L_APPROVE}" />
		<!-- IF S_GARAGE_EDIT -->&nbsp;<input class="button1" type="submit" name="action[edit_make]" value="{L_EDIT}" /><!-- ENDIF -->
		<!-- IF S_GARAGE_DELETE -->&nbsp;<input class="button1" type="submit" name="action[disapprove_make_confirm]" value="{L_DISAPPROVE}" /><!-- ENDIF -->
		<div><a href="#" onclick="marklist('mcp', 'id_list', true); return false;">{L_MARK_ALL}</a> {L_COLEN}{L_COLEN} <a href="#" onclick="marklist('mcp', 'id_list', false); return false;">{L_UNMARK_ALL}</a></div>
	</fieldset>

	<!-- ELSEIF S_UNAPPROVED_MODEL -->

	<h3>{L_MCP_GARAGE_UNAPPROVED_MODELS}</h3>

	<table cellspacing="1" class="table1">
	<thead>
		<tr> 
			<th class="name">{L_MAKE}</th>
			<th class="name">{L_MODEL}</th>
			<th class="name" width="5%">{L_MARK}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN models_row -->
		<!-- IF models_row.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
			<td>{models_row.MAKE}</td>
			<td>{models_row.MODEL}</td>
			<td align="center"><input type="checkbox" class="radio" name="id_list[]" value="{models_row.ID}" /></td>
		</tr>
		<!-- BEGINELSE -->
		<tr>
			<td class="bg1" colspan="3" height="30" align="center" valign="middle"><span class="gen">{L_NO_MODELS_PENDING}</span></td>
		</tr>
		<!-- END models_row -->
	</tbody>
	</table>

	<fieldset class="display-actions">
		<input class="button2" type="submit" name="action[approve_model]" value="{L_APPROVE}" />
		<!-- IF S_GARAGE_EDIT -->&nbsp;<input class="button1" type="submit" name="action[edit_model]" value="{L_EDIT}" /><!-- ENDIF -->
		<!-- IF S_GARAGE_DELETE -->&nbsp;<input class="button1" type="submit" name="action[disapprove_model_confirm]" value="{L_DISAPPROVE}" /><!-- ENDIF -->
		<div><a href="#" onclick="marklist('mcp', 'id_list', true); return false;">{L_MARK_ALL}</a> {L_COLEN}{L_COLEN} <a href="#" onclick="marklist('mcp', 'id_list', false); return false;">{L_UNMARK_ALL}</a></div>
	</fieldset>

	<!-- ELSEIF S_UNAPPROVED_BUSINESS -->

	<h3>{L_MCP_GARAGE_UNAPPROVED_BUSINESS}</h3>

	<table cellspacing="1" class="table1">
	<thead>
		<tr> 
			<th class="name">{L_TITLE}</th>
			<th class="name">{L_ADDRESS}</th>
		  	<th class="name">{L_CONTACT_NUMBERS}</th>
			<th class="name">{L_WEBSITE}/{L_EMAIL}</th>
		  	<th class="name">{L_OPENING_HOURS}</th>
			<th class="name">{L_TYPE}</th>
			<th class="name" width="5%">{L_MARK}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN business_row -->
		<!-- IF business_row.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
			<td>{business_row.TITLE}</td>
			<td>{business_row.ADDRESS}</td>
			<td><strong>{L_T}</strong>{L_COLEN}{business_row.TELEPHONE}<br /><strong>{L_F}</strong>{L_COLEN}{business_row.FAX}</td>
			<td>{business_row.WEBSITE}<br />{business_row.EMAIL}</td>
			<td>{business_row.OPENING_HOURS}</td>
			<td>{business_row.TYPE}</td>
			<td align="center"><input type="checkbox" class="radio" name="id_list[]" value="{business_row.ID}" /></td>
		</tr>
		<!-- BEGINELSE -->
		<tr>
			<td class="bg1" colspan="10" height="30" align="center" valign="middle"><span class="gen">{L_NO_BUSINESS_PENDING}</span></td>
		</tr>
		<!-- END business_row -->
	</tbody>
	</table>

	<fieldset class="display-actions">
		<input class="button2" type="submit" name="action[approve_business]" value="{L_APPROVE}" />
		<!-- IF S_GARAGE_EDIT -->&nbsp;<input class="button1" type="submit" name="action[edit_business]" value="{L_EDIT}" /><!-- ENDIF -->
		<!-- IF S_GARAGE_DELETE -->&nbsp;<input class="button1" type="submit" name="action[disapprove_business_confirm]" value="{L_DISAPPROVE}" /><!-- ENDIF -->
		<div><a href="#" onclick="marklist('mcp', 'id_list', true); return false;">{L_MARK_ALL}</a> {L_COLEN}{L_COLEN} <a href="#" onclick="marklist('mcp', 'id_list', false); return false;">{L_UNMARK_ALL}</a></div>
	</fieldset>

<!-- ELSEIF S_UNAPPROVED_QUARTERMILE -->

	<h3>{L_MCP_GARAGE_UNAPPROVED_QUARTERMILES}</h3>

	<table cellspacing="1" class="table1">
	<thead>
		<tr> 
			<th></th>
			<th class="name">{L_USERNAME}</th>
			<th class="name">{L_VEHICLE}</th>
		  	<th class="name">{L_RT}</th>
		  	<th class="name">{L_SIXTY}</th>
		 	<th class="name">{L_THREE}</th>
		  	<th class="name">{L_EIGHTH}</th>
		  	<th class="name">{L_THOU}</th>
		  	<th class="name">{L_QUART}</th>
			<th class="name" width="5%">{L_MARK}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN quartermile_row -->
		<!-- IF quartermile_row.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
			<td><!-- IF quartermile_row.U_IMAGE --><a href="{quartermile_row.U_IMAGE}" target="_blank">{quartermile_row.IMAGE}</a><!-- ENDIF --></td>
			<td><b><a href="{quartermile_row.U_PROFILE}" <!-- IF quartermile_row.USERNAME_COLOUR --> style="color: {quartermile_row.USERNAME_COLOUR}"<!-- ENDIF -->>{quartermile_row.USERNAME}</a></b></td>
			<td><a href="{quartermile_row.U_VEHICLE}" class="gen">{quartermile_row.VEHICLE}</a></td>
			<td>{quartermile_row.RT}</td>
			<td>{quartermile_row.SIXTY}</td>
			<td>{quartermile_row.THREE}</td>
			<td>{quartermile_row.EIGHTH}&nbsp;@&nbsp;{quartermile_row.EIGHTHMPH}</td>
			<td>{quartermile_row.THOU}</td>
			<td>{quartermile_row.QUART}&nbsp;@&nbsp;{quartermile_row.QUARTMPH}</td>
			<td align="center"><input type="checkbox" class="radio" name="id_list[]" value="{quartermile_row.ID}" /></td>
		</tr>
		<!-- BEGINELSE -->
		<tr>
			<td class="bg1" colspan="13" height="30" align="center" valign="middle"><span class="gen">{L_NO_QUARTERMILES_PENDING}</span></td>
		</tr>
		<!-- END quartermile_row -->
	</tbody>
	</table>

	<fieldset class="display-actions">
		<input class="button2" type="submit" name="action[approve_quartermile]" value="{L_APPROVE}" />
		<!-- IF S_GARAGE_EDIT -->&nbsp;<input class="button1" type="submit" name="action[edit_quartermile]" value="{L_EDIT}" /><!-- ENDIF -->
		<!-- IF S_GARAGE_DELETE -->&nbsp;<input class="button1" type="submit" name="action[disapprove_quartermile]" value="{L_DISAPPROVE}" /><!-- ENDIF -->
		<div><a href="#" onclick="marklist('mcp', 'id_list', true); return false;">{L_MARK_ALL}</a> {L_COLEN}{L_COLEN} <a href="#" onclick="marklist('mcp', 'id_list', false); return false;">{L_UNMARK_ALL}</a></div>
	</fieldset>

	<!-- ELSEIF S_UNAPPROVED_DYNORUN -->

	<h3>{L_MCP_GARAGE_UNAPPROVED_DYNORUNS}</h3>

	<table cellspacing="1" class="table1">
	<thead>
		<tr> 
			<th></th>
			<th class="name">{L_USERNAME}</th>
			<th class="name">{L_VEHICLE}</th>
			<th class="name">{L_DYNOCENTRE}</th>
		  	<th class="name">{L_BHP}</th>
		  	<th class="name">{L_TORQUE}</th>
		  	<th class="name">{L_BOOST}</th>
		  	<th class="name">{L_NITROUS}</th>
		  	<th class="name">{L_PEAKPOINT}</th>
			<th class="name" width="5%">{L_MARK}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN dynorun_row -->
		<!-- IF dynorun_row.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
			<td><!-- IF dynorun_row.U_IMAGE --><a href="{dynorun_row.U_IMAGE}" target="_blank">{dynorun_row.IMAGE}</a><!-- ENDIF --></td>
			<td><b><a href="{dynorun_row.U_PROFILE}" <!-- IF dynorun_row.USERNAME_COLOUR --> style="color: {dynorun_row.USERNAME_COLOUR}"<!-- ENDIF -->>{dynorun_row.USERNAME}</a></b></td>
			<td><a href="{dynorun_row.U_VEHICLE}" class="gen">{dynorun_row.VEHICLE}</a></td>
			<td>{dynorun_row.DYNOCENTRE}</td>
			<td>{dynorun_row.BHP}&nbsp;{dynorun_row.BHP_UNIT}</td>
			<td>{dynorun_row.TORQUE}&nbsp;{dynorun_row.TORQUE_UNIT}</td>
			<td>{dynorun_row.BOOST}&nbsp;{dynorun_row.BOOST_UNIT}</td>
			<td>{dynorun_row.NITROUS}</td>
			<td>{dynorun_row.PEAKPOINT}</td>
			<td align="center"><input type="checkbox" class="radio" name="id_list[]" value="{dynorun_row.ID}" /></td>
		</tr>
		<!-- BEGINELSE -->
		<tr>
			<td class="bg1" colspan="14" height="30" align="center" valign="middle"><span class="gen">{L_NO_DYNORUNS_PENDING}</span></td>
		</tr>
		<!-- END dynorun_row -->
	</tbody>
	</table>

	<fieldset class="display-actions">
		<input class="button2" type="submit" name="action[approve_dynorun]" value="{L_APPROVE}" />
		<!-- IF S_GARAGE_EDIT -->&nbsp;<input class="button1" type="submit" name="action[edit_dynorun]" value="{L_EDIT}" /><!-- ENDIF -->
		<!-- IF S_GARAGE_DELETE -->&nbsp;<input class="button1" type="submit" name="action[disapprove_dynorun]" value="{L_DISAPPROVE}" /><!-- ENDIF -->
		<div><a href="#" onclick="marklist('mcp', 'id_list', true); return false;">{L_MARK_ALL}</a> {L_COLEN}{L_COLEN} <a href="#" onclick="marklist('mcp', 'id_list', false); return false;">{L_UNMARK_ALL}</a></div>
	</fieldset>

	<!-- ELSEIF S_UNAPPROVED_COMMENT -->

	<h3>{L_MCP_GARAGE_UNAPPROVED_GUESTBOOK_COMMENTS}</h3>

	<table cellspacing="1" class="table1">
	<thead>
		<tr> 
			<th class="name">{L_VEHICLE}</th>
			<th class="name">{L_POST}</th>
			<th class="name">{L_AUTHOR}</th>
			<th class="name">{L_POST_TIME}</th>
			<th class="name" width="5%">{L_MARK}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN comment_row -->
		<!-- IF comment_row.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
				<td><a href="{comment_row.U_VEHICLE}">{comment_row.VEHICLE}</a></td>
			<td>{comment_row.POST}</td>
			<td><a href="{comment_row.U_PROFILE" <!-- IF comment_row.USERNAME_COLOUR --> style="color: {comment_row.USERNAME_COLOUR}"<!-- ENDIF -->>{comment_row.AUTHOR}</a></td>
			<td>{comment_row.POST_TIME}</td>
			<td align="center"><input type="checkbox" class="radio" name="id_list[]" value="{comment_row.ID}}" /></td>
		</tr>
		<!-- BEGINELSE -->
		<tr>
			<td class="bg1" colspan="6" height="30" align="center" valign="middle"><span class="gen">{L_NO_COMMENTS_PENDING}</span></td>
		</tr>
		<!-- END comment_row -->
	</tbody>
	</table>

	<fieldset class="display-actions">
		<input class="button2" type="submit" name="action[approve_comment]" value="{L_APPROVE}" />
		<!-- IF S_GARAGE_EDIT -->&nbsp;<input class="button1" type="submit" name="action[edit_comment]" value="{L_EDIT}" /><!-- ENDIF -->
		<!-- IF S_GARAGE_DELETE -->&nbsp;<input class="button1" type="submit" name="action[disapprove_comment]" value="{L_DISAPPROVE}" /><!-- ENDIF -->
		<div><a href="#" onclick="marklist('mcp', 'id_list', true); return false;">{L_MARK_ALL}</a> {L_COLEN}{L_COLEN} <a href="#" onclick="marklist('mcp', 'id_list', false); return false;">{L_UNMARK_ALL}</a></div>
	</fieldset>

	<!-- ELSEIF S_UNAPPROVED_LAP -->

	<h3>{L_MCP_GARAGE_UNAPPROVED_LAPS}</h3>

	<table cellspacing="1" class="table1">
	<thead>
		<tr> 
			<th></th>
			<th class="name">{L_USERNAME}</th>
			<th class="name">{L_VEHICLE}</th>
			<th class="name">{L_TRACK}</td>
			<th class="name">{L_CONDITION}</td>
			<th class="name">{L_TYPE}</td>
			<th class="name">{L_TIME}&nbsp;<span class="gensmall">(M:S:MS)</span></td>
			<th class="name" width="5%">{L_MARK}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN lap_row -->
		<!-- IF lap_row.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
			<td><!-- IF lap_row.U_IMAGE --><a href="{lap_row.U_IMAGE}" target="_blank">{lap_row.IMAGE}</a><!-- ENDIF --></td>
			<td><b><a href="{lap_row.U_PROFILE}" <!-- IF lap_row.USERNAME_COLOUR --> style="color: {lap_row.USERNAME_COLOUR}"<!-- ENDIF -->>{lap_row.USERNAME}</a></b></td>
			<td><a href="{lap_row.U_VEHICLE}" class="gen">{lap_row.VEHICLE}</a></td>
			<td>{lap_row.TRACK}</td>
			<td>{lap_row.CONDITION}</td>
			<td>{lap_row.TYPE}</td>
			<td>{lap_row.MINUTE}.{lap_row.SECOND}.{lap_row.MILLISECOND}</td>
			<td align="center"><input type="checkbox" class="radio" name="id_list[]" value="{lap_row.ID}" /></td>
		</tr>
		<!-- BEGINELSE -->
		<tr>
			<td class="bg1" colspan="9" height="30" align="center" valign="middle"><span class="gen">{L_NO_LAPS_PENDING}</span></td>
		</tr>
		<!-- END lap_row -->
	</tbody>
	</table>

	<fieldset class="display-actions">
		<input class="button2" type="submit" name="action[approve_lap]" value="{L_APPROVE}" />
		<!-- IF S_GARAGE_EDIT -->&nbsp;<input class="button1" type="submit" name="action[edit_lap]" value="{L_EDIT}" /><!-- ENDIF -->
		<!-- IF S_GARAGE_DELETE -->&nbsp;<input class="button1" type="submit" name="action[disapprove_lap]" value="{L_DISAPPROVE}" /><!-- ENDIF -->
		<div><a href="#" onclick="marklist('mcp', 'id_list', true); return false;">{L_MARK_ALL}</a> {L_COLEN}{L_COLEN} <a href="#" onclick="marklist('mcp', 'id_list', false); return false;">{L_UNMARK_ALL}</a></div>
	</fieldset>

	<!-- ELSEIF S_UNAPPROVED_TRACK -->

	<h3>{L_MCP_GARAGE_UNAPPROVED_TRACKS}</h3>

	<table cellspacing="1" class="table1">
	<thead>
		<tr> 
			<th class="name">{L_TRACK}</th>
			<th class="name">{L_LENGTH}</th>
			<th class="name" width="5%">{L_MARK}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN track_row -->
		<!-- IF track_row.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
			<td>{track_row.TITLE}</td>
			<td>{track_row.LENGTH} {track_row.MILEAGE_UNIT}</td>
			<td align="center"><input type="checkbox" class="radio" name="id_list[]" value="{track_row.ID}" /></td>
		</tr>
		<!-- BEGINELSE -->
		<tr>
			<td class="bg1" colspan="3" height="30" align="center" valign="middle"><span class="gen">{L_NO_TRACKS_PENDING}</span></td>
		</tr>
		<!-- END track_row -->
	</tbody>
	</table>

	<fieldset class="display-actions">
		<input class="button2" type="submit" name="action[approve_track]" value="{L_APPROVE}" />
		<!-- IF S_GARAGE_EDIT -->&nbsp;<input class="button1" type="submit" name="action[edit_track]" value="{L_EDIT}" /><!-- ENDIF -->
		<!-- IF S_GARAGE_DELETE -->&nbsp;<input class="button1" type="submit" name="action[disapprove_track_confirm]" value="{L_DISAPPROVE}" /><!-- ENDIF -->
		<div><a href="#" onclick="marklist('mcp', 'id_list', true); return false;">{L_MARK_ALL}</a> {L_COLEN}{L_COLEN} <a href="#" onclick="marklist('mcp', 'id_list', false); return false;">{L_UNMARK_ALL}</a></div>
	</fieldset>

<!-- ELSEIF S_UNAPPROVED_PRODUCT -->

	<h3>{L_MCP_GARAGE_UNAPPROVED_PRODUCTS}</h3>

	<table cellspacing="1" class="table1">
	<thead>
		<tr> 
			<th class="name">{L_PRODUCT}</th>
			<th class="name">{L_MANUFACTURER}</th>
			<th class="name">{L_CATEGORY}</th>
			<th class="name" width="5%">{L_MARK}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN products_row -->
		<!-- IF products_row.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
			<td>{products_row.PRODUCT}</td>
			<td>{products_row.MANUFACTURER}</td>
			<td>{products_row.CATEGORY}</td>
			<td align="center"><input type="checkbox" class="radio" name="id_list[]" value="{products_row.ID}" /></td>
		</tr>
		<!-- BEGINELSE -->
		<tr>
			<td class="bg1" colspan="4" height="30" align="center" valign="middle"><span class="gen">{L_NO_PRODUCTS_PENDING}</span></td>
		</tr>
		<!-- END models_row -->
	</tbody>
	</table>

	<fieldset class="display-actions">
		<input class="button2" type="submit" name="action[approve_product]" value="{L_APPROVE}" />
		<!-- IF S_GARAGE_EDIT -->&nbsp;<input class="button1" type="submit" name="action[edit_product]" value="{L_EDIT}" /><!-- ENDIF -->
		<!-- IF S_GARAGE_DELETE -->&nbsp;<input class="button1" type="submit" name="action[disapprove_product_confirm]" value="{L_DISAPPROVE}" /><!-- ENDIF -->
		<div><a href="#" onclick="marklist('mcp', 'id_list', true); return false;">{L_MARK_ALL}</a> {L_COLEN}{L_COLEN} <a href="#" onclick="marklist('mcp', 'id_list', false); return false;">{L_UNMARK_ALL}</a></div>
	</fieldset>
<!-- ENDIF -->

<!-- IF S_DELETE_BUSINESS -->

	<h3>{L_BUSINESS_DELETE}</h3>

	<p>{L_BUSINESS_DELETE_EXPLAIN}</p>

	<form id="mcp_business" method="post" action="{S_MCP_ACTION}">

	<fieldset>
		<legend>{L_BUSINESS_DELETE}</legend>
	<dl>
		<dt><label>{L_BUSINESS_NAME}{L_COLEN}</label></dt>
		<dd><b>{BUSINESS_NAME}</b></dd>
	</dl>
	<dl>
		<dt><label for="delete_action">{L_ACTION}{L_COLEN}</label></dt>
		<!-- IF S_TYPE_GARAGE -->
			<dd><input type="radio" class="radio" id="delete_action" name="action_garage" value="delete" checked="checked" /> {L_DELETE_INSTALLED_MODIFICATIONS}</dd>
			<!-- IF S_MOVE_GARAGE_OPTIONS -->
				<dd><input type="radio" class="radio" name="action_garage" value="move" /> {L_MOVE_MODIFICATIONS_TO} <select name="garage_to_id">{S_MOVE_GARAGE_OPTIONS}</select></dd>
			<!-- ENDIF -->
			<br /><br />
		<!-- ENDIF -->
		<!-- IF S_TYPE_INSURER -->
			<dd><input type="radio" class="radio" id="delete_action" name="action_insurance" value="delete" checked="checked" /> {L_DELETE_ALL_PREMIUMS}</dd>
			<!-- IF S_MOVE_INSURER_OPTIONS -->
				<dd><input type="radio" class="radio" name="action_insurance" value="move" /> {L_MOVE_PREMIUMS_TO} <select name="insurance_to_id">{S_MOVE_INSURER_OPTIONS}</select></dd>
			<!-- ENDIF -->
			<br /><br />
		<!-- ENDIF -->
		<!-- IF S_TYPE_DYNOCENTRE -->
			<dd><input type="radio" class="radio" id="delete_action" name="action_dynocentre" value="delete" checked="checked" /> {L_DELETE_ALL_DYNORUNS}</dd>
			<!-- IF S_MOVE_DYNOCENTRE_OPTIONS -->
				<dd><input type="radio" class="radio" name="action_dynocentre" value="move" /> {L_MOVE_DYNORUNS_TO} <select name="dynocentre_to_id">{S_MOVE_DYNOCENTRE_OPTIONS}</select></dd>
			<!-- ENDIF -->
			<br /><br />
		<!-- ENDIF -->
		<!-- IF S_TYPE_RETAIL -->
			<dd><input type="radio" class="radio" id="delete_action" name="action_retail" value="delete" checked="checked" /> {L_DELETE_BOUGHT_MODIFICATIONS}</dd>
			<!-- IF S_MOVE_RETAIL_OPTIONS -->
				<dd><input type="radio" class="radio" name="action_retail" value="move" /> {L_MOVE_MODIFICATIONS_TO} <select name="retail_to_id">{S_MOVE_RETAIL_OPTIONS}</select></dd>
			<!-- ENDIF -->
			<br /><br />
		<!-- ENDIF -->
		<!-- IF S_TYPE_PRODUCT -->	
			<dd><input type="radio" class="radio" id="delete_action" name="action_product" value="delete" checked="checked" /> {L_DELETE_MADE_MODIFICATIONS}</dd>
			<!-- IF S_MOVE_PRODUCT_OPTIONS -->
				<dd><input type="radio" class="radio" name="action_product" value="move" /> {L_MOVE_MODIFICATIONS_TO} <select name="product_to_id">{S_MOVE_PRODUCT_OPTIONS}</select></dd>
			<!-- ENDIF -->
			<br /><br />
		<!-- ENDIF -->
	</dl>

	<p class="quick">
		<input class="button1" type="submit" name="update" value="{L_SUBMIT}" />
	</p>
	</fieldset>

	{S_FORM_TOKEN}
	</form>

<!-- ELSEIF S_DELETE_MAKE -->

	<h3>{L_MAKE_DELETE}</h3>

	<p>{L_MAKE_DELETE_EXPLAIN}</p>

	<form id="mcp_category" method="post" action="{S_MCP_ACTION}">

	<fieldset>
		<legend>{L_MAKE_DELETE}</legend>
	<dl>
		<dt><label>{L_MAKE}{L_COLEN}</label></dt>
		<dd><b>{MAKE}</b></dd>
	</dl>
	<dl>
		<dt><label for="delete_action">{L_ACTION}{L_COLEN}</label></dt>
		<dd><input type="radio" class="radio" id="delete_action" name="action_make" value="delete" checked="checked" /> {L_DELETE_ALL_VEHICLES}</dd>
		<!-- IF S_MOVE_OPTIONS -->
			<dd><input type="radio" class="radio" name="action_make" value="move" /> {L_MOVE_VEHICLES_TO} <select name="make_to_id">{S_MOVE_OPTIONS}</select></dd>
		<!-- ENDIF -->
	</dl>

	<p class="quick">
		<input class="button1" type="submit" name="update" value="{L_SUBMIT}" />
	</p>
	</fieldset>

	{S_FORM_TOKEN}
	</form>

<!-- ELSEIF S_DELETE_MODEL -->

	<h3>{L_MODEL_DELETE}</h3>

	<p>{L_MODEL_DELETE_EXPLAIN}</p>

	<form id="mcp_category" method="post" action="{S_MCP_ACTION}">

	<fieldset>
		<legend>{L_MODEL_DELETE}</legend>
	<dl>
		<dt><label>{L_MODEL}{L_COLEN}</label></dt>
		<dd><b>{MODEL}</b></dd>
	</dl>
	<dl>
		<dt><label for="delete_action">{L_ACTION}{L_COLEN}</label></dt>
		<dd><input type="radio" class="radio" id="delete_action" name="action_model" value="delete" checked="checked" /> {L_DELETE_ALL_VEHICLES}</dd>
		<!-- IF S_MOVE_OPTIONS -->
			<dd><input type="radio" class="radio" name="action_model" value="move" /> {L_MOVE_VEHICLES_TO} <select name="model_to_id">{S_MOVE_OPTIONS}</select></dd>
		<!-- ENDIF -->
	</dl>

	<p class="quick">
		<input class="button1" type="submit" name="update" value="{L_SUBMIT}" />
	</p>
	</fieldset>

	{S_FORM_TOKEN}
	</form>

<!-- ELSEIF S_DELETE_PRODUCT -->

	<h3>{L_PRODUCT_DELETE}</h3>

	<p>{L_PRODUCT_DELETE_EXPLAIN}</p>

	<form id="mcp_product" method="post" action="{S_MCP_ACTION}">

	<fieldset>
		<legend>{L_PRODUCT_DELETE}</legend>
	<dl>
		<dt><label>{L_PRODUCT}{L_COLEN}</label></dt>
		<dd><b>{PRODUCT}</b></dd>
	</dl>
	<dl>
		<dt><label for="delete_action">{L_ACTION}{L_COLEN}</label></dt>
		<dd><input type="radio" class="radio" id="delete_action" name="action_modifications" value="delete" checked="checked" /> {L_DELETE_ALL_MODIFICATIONS}</dd>
		<!-- IF S_MOVE_OPTIONS -->
			<dd><input type="radio" class="radio" name="action_modifications" value="move" /> {L_MOVE_MODIFICATIONS_TO} <select name="product_to_id">{S_MOVE_OPTIONS}</select></dd>
		<!-- ENDIF -->
	</dl>

	<p class="quick">
		<input class="button1" type="submit" name="update" value="{L_SUBMIT}" />
	</p>
	</fieldset>

	{S_FORM_TOKEN}
	</form>

<!-- ELSEIF S_DELETE_TRACK -->

	<h3>{L_TRACK_DELETE}</h3>

	<p>{L_TRACK_DELETE_EXPLAIN}</p>

	<form id="mcp_track" method="post" action="{S_MCP_ACTION}">

	<fieldset>
		<legend>{L_TRACK_DELETE}</legend>
	<dl>
		<dt><label>{L_TRACK_NAME}{L_COLEN}</label></dt>
		<dd><b>{TRACK_NAME}</b></dd>
	</dl>
	<dl>
		<dt><label for="delete_action">{L_ACTION}{L_COLEN}</label></dt>
		<dd><input type="radio" class="radio" id="delete_action" name="action_laps" value="delete" checked="checked" /> {L_DELETE_ALL_LAPS}</dd>
		<!-- IF S_MOVE_OPTIONS -->
			<dd><input type="radio" class="radio" name="action_laps" value="move" /> {L_MOVE_LAPS_TO} <select name="laps_to_id">{S_MOVE_OPTIONS}</select></dd>
		<!-- ENDIF -->
	</dl>

	<p class="quick">
		<input class="button1" type="submit" name="update" value="{L_SUBMIT}" />
	</p>
	</fieldset>

	{S_FORM_TOKEN}
	</form>

<!-- ENDIF -->

	{S_FORM_TOKEN}
	</form>
			<span class="corners-bottom"><span></span></span></div>
		</div>

<!-- INCLUDE mcp_footer.html -->
