<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

		<fieldset>
		<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
		<dl>
			<dt><label for="guestbook_email_notify1">{L_GUESTBOOK_EMAIL_NOTIFY}{L_COLEN}</label></dt>
			<dd>
				<label for="guestbook_email_notify1"><input type="radio" name="guestbook_email_notify" id="guestbook_email_notify1" value="1"<!-- IF S_GUESTBOOK_EMAIL_NOTIFY --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
				<label for="guestbook_email_notify0"><input type="radio" name="guestbook_email_notify" id="guestbook_email_notify0" value="0"<!-- IF not S_GUESTBOOK_EMAIL_NOTIFY --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="guestbook_pm_notify1">{L_GUESTBOOK_PM_NOTIFY}{L_COLEN}</label></dt>
			<dd>
				<label for="guestbook_pm_notify1"><input type="radio" name="guestbook_pm_notify" id="guestbook_pm_notify1" value="1"<!-- IF S_GUESTBOOK_PM_NOTIFY --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
				<label for="guestbook_pm_notify0"><input type="radio" name="guestbook_pm_notify" id="guestbook_pm_notify0" value="0"<!-- IF not S_GUESTBOOK_PM_NOTIFY --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
		<!-- IF S_DISPLAY_EMAIL_OPTOUT-->
		<dl>
			<dt><label for="email_optout1">{L_EMAIL_OPTOUT}{L_COLEN}</label></dt>
			<dd>
				<label for="email_optout1"><input type="radio" name="email_optout" id="email_optout1" value="1"<!-- IF S_EMAIL_OPTOUT --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
				<label for="email_optout0"><input type="radio" name="email_optout" id="email_optout0" value="0"<!-- IF not S_EMAIL_OPTOUT --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
		<!-- ENDIF -->
		<!-- IF S_DISPLAY_PM_OPTOUT-->
		<dl>
			<dt><label for="pm_optout1">{L_PM_OPTOUT}{L_COLEN}</label></dt>
			<dd>
				<label for="pm_optout1"><input type="radio" name="pm_optout" id="pm_optout1" value="1"<!-- IF S_PM_OPTOUT --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
				<label for="pm_optout0"><input type="radio" name="pm_optout" id="pm_optout0" value="0"<!-- IF not S_PM_OPTOUT --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
		<!-- ENDIF -->

		</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
</fieldset>

	{S_FORM_TOKEN}
</form>

<!-- INCLUDE ucp_footer.html -->
