<div class="block_data">
<!-- September 22, 2005 rev1 -->
	<div style="text-align:center;">
		<object type="application/x-shockwave-flash" data="{T_THEME_PATH}/images/portal/clock.swf" width="125" height="125">
			<param name="movie" value="{T_THEME_PATH}/images/portal/clock.swf" />
			<param name="quality" value="high" />
			<param name="allowscriptaccess" value="samedomain" />
			<param name="wmode" value="transparent" />
			<param name="bgcolor" value="#F9F9F9" />
		</object>
	</div>
</div>
<!-- IF DEBUG_QUERIES --><div class="block_data">{CLOCK_DEBUG}</div><!-- ENDIF -->