<!-- IDTAG starts block_vars_display.html 13 September 2007 copyright phpbbireland.com 2007 -->
<div class="block_data">
<strong>{ALL_COMMON}...</strong><br />
{SITENAME}<br />
{SITE_DESCRIPTION}<br />
{STARGATE_VERSION}<br />
{PAGE_TITLE}<br />
{SCRIPT_NAME}<br />
{LAST_VISIT_DATE}<br />
{LAST_VISIT_YOU}<br />
{CURRENT_TIME}<br />
{TOTAL_USERS_ONLINE}<br />
{LOGGED_IN_USER_LIST}<br />
{RECORD_USERS}<br />
{PRIVATE_MESSAGE_INFO}<br />
{PRIVATE_MESSAGE_INFO_UNREAD}<br />
{S_USER_NEW_PRIVMSG}<br />
{S_USER_UNREAD_PRIVMSG}<br />
{S_USER_NEW}<br />
{ROOT_PATH}<br />
{BOARD_URL}<br />
{U_PRIVATEMSGS}<br />
{U_RETURN_INBOX}<br />
{U_POPUP_PM}<br />
{UA_POPUP_PM}<br />
{U_MEMBERLIST}<br />
{U_VIEWONLINE}<br />
{U_INDEX}<br />
{U_SEARCH}<br />
{U_REGISTER}<br />
{U_PROFILE}<br />
{U_FAQ}<br />
{U_SEARCH_SELF}<br />
{U_SEARCH_NEW}<br />
{U_SEARCH_UNANSWERED}<br />
{U_SEARCH_UNREAD}<br />
{U_SEARCH_ACTIVE_TOPICS}<br />
{U_TEAM}<br />
{U_TERMS_USE}<br />
{U_FEED}<br />
<strong>{THEME_INFO}:</strong><br />
{T_THEME_PATH}<br />
{T_TEMPLATE_PATH}<br />
{T_SUPER_TEMPLATE_PATH}<br />
{T_IMAGESET_PATH}<br />
{T_IMAGESET_LANG_PATH}<br />
{T_IMAGES_PATH}<br />
{T_SMILIES_PATH}<br />
{T_AVATAR_PATH}<br />
{T_AVATAR_GALLERY_PATH}<br />
{T_ICONS_PATH}<br />
{T_RANKS_PATH}<br />
{T_STYLESHEET_NAME}<br />
{T_THEME_NAME}<br />
{T_TEMPLATE_NAME}<br />
{T_SUPER_TEMPLATE_NAME}<br />
{T_IMAGESET_NAME}<br />
{T_IMAGESET_LANG_NAME}<br />
</div>
<div class="block_data">
	<!-- IF DEBUG_QUERIES -->{SGP_DEBUG_VD}<!-- ENDIF -->
</div>
<!-- IDTAG block_menus ends -->