<!-- IDTAG starts block_links.html 09 June 2010 copyright phpbbireland.com 2005-2010 -->
<div class="block_data" style="background:transparent;">
	<div class="link_images" style="text-align:center;">
		<!-- BEGIN portal_links_row -->
		<div style="padding:6px;">
			<a href="http://{portal_links_row.U_LINKS}" rel="external"><img src="{portal_links_row.LINKS_IMG}" width="88" height="31" alt="" /></a>
		</div>
		<!-- END portal_links_row -->
	</div>
	<!-- IF SUBMIT_LINK != '' -->
	<div style="text-align:center;">
		<a href="{SUBMIT_LINK}" title="{L_LINKS_FORUM_REQU}"><img src="{ROOT_PATH}images/links/site/submit_link.gif" height="52px" alt="" /></a>
	</div>
	<!-- ENDIF -->
</div>

<!-- IF DEBUG_QUERIES --><div class="block_data">{LINKS_DEBUG}</div><!-- ENDIF -->
<!-- IDTAG ends block_links.html -->