<!-- IDTAG block_forum_search.html starts 20 August 2006 -->

<div style="text-align:center;">
	<!-- IF S_DISPLAY_SEARCH -->
			<p class="searchbar">
				<span style="float: left;"><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a> &bull; <a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></span>
				<!-- IF S_USER_LOGGED_IN -->
				<span style="float: right;"><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a> &bull; <a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></span>
				<!-- ENDIF -->
			</p>
			<!-- ENDIF -->
</div>
<div style="text-align:center;">
	<!-- IF U_MCP -->
		<div id="pageheader">
			<p class="linkmcp"><a href="{U_MCP}">{L_MCP}</a></p>
		</div>
	<!-- ENDIF -->
</div>


<!-- IDTAG block_forum_search.html ends -->