<!-- IDTAG starts block_bot_tracker.html 17 March 2008 copyright phpbbireland.com 2007 -->

<!-- IF S_BOT_TRACKER_SHOW -->
<div class="block_data">

	<!-- IF NO_DATA -->
	<p style="text-align:center;">{L_NO_BOT_DATA}</p>
	<!-- ELSE -->
	<p>
		<!-- BEGIN bot_tracker -->
			<span class="bot_tracker">{bot_tracker.BOT_NAME}</span>
			<br />
			<span class="bot_tracker_date">{bot_tracker.BOT_TRACKER_VISIT_DATE}</span>
			<br />
		<!-- END bot_tracker -->
	</p>
	<!-- ENDIF -->
</div>
<!-- ENDIF -->

<!-- IF DEBUG_QUERIES --><div class="block_data">{BOT_TRACKER_DEBUG}</div><!-- ENDIF -->

<!-- IDTAG ends block_bot_tracker -->