<!-- IDTAG starts block_recent_topics.html 30th June 2008 copyright 2007 phpbbireland.com -->
<div class="block_data">
<!-- IF S_COUNT_RECENT -->
	<div class="tcontainer">
			<!-- BEGIN scrollwide_recent_topic_row -->
				<!-- IF scrollwide_recent_topic_row.S_ROW_COUNT_W == 0 -->
				<div class="trow">
					<span class="bg2 tleft" style="padding:1px; width:auto;"><strong>{L_TITLE}</strong></span>
					<span class="bg2 tleft" style="padding:1px; width:20px;"><strong> </strong></span>
					<span class="bg2 tleft" style="padding:1px; width:auto;"><strong>{L_POSTER}</strong></span>
					<span class="bg2 tleft" style="padding:1px; width:70px; text-align:right"><strong>{L_REPLIES}</strong></span>
					<span class="bg2 tleft" style="padding:1px; width:23%; text-align:right"><strong>{L_POSTED}/{L_EDITED}</strong></span>
				</div>
				<div class="trow divider_bottom_line" style="width:100%;"></div>
				<!-- ENDIF -->
				<!-- IF scrollwide_recent_topic_row.S_UNIQUE_W -->
				<div class="trow bg3">
					<span class="bg3 tleft" style="padding:1px; text-align:left;">
						<strong><a title="{scrollwide_recent_topic_row.TOOLTIP2_W}" href="{scrollwide_recent_topic_row.U_FORUM_W}">{scrollwide_recent_topic_row.FORUM_W}</a></strong>
					</span><span class="bg3 tleft"></span><span class="bg3 tleft"></span>
				</div>
				<!-- ENDIF -->

				<!-- IF scrollwide_recent_topic_row.S_ROW_COUNT is even -->
				<div class="trow bg2">
				<!-- ELSE -->
				<div class="trow bg1">
				<!-- ENDIF -->
					<span class="tleft" style="padding:1px;">{scrollwide_recent_topic_row.LAST_POST_IMG_W}<a href="{scrollwide_recent_topic_row.U_TITLE_W}" title="{scrollwide_recent_topic_row.TOOLTIP_W}"><span class="<!-- IF scrollwide_recent_topic_row.S_TYPE_W == 2 or scrollwide_recent_topic_row.S_TYPE_W == 3 -->red<!-- ELSEIF staticwide_recent_topic_row.S_TYPE_W == 4 or scrollwide_recent_topic_row.S_TYPE_W == 5 -->orange<!-- ELSEIF scrollwide_recent_topic_row.S_TYPE_W == 1 -->green<!-- ELSE --><!-- ENDIF -->">{scrollwide_recent_topic_row.TITLE_W}</span></a>:</span>
					<span class="tleft" style="padding:1px;">{scrollwide_recent_topic_row.AVATAR_SMALL_IMG} </span>
					<span class="tleft" style="padding:1px;">{scrollwide_recent_topic_row.POSTER_FULL_W} </span>
					<span class="tleft" style="padding:1px;">{scrollwide_recent_topic_row.REPLIES} </span>
					<span class="tleft" style="padding:1px; text-align:right;">{scrollwide_recent_topic_row.POSTTIME_W}</span>
				</div>
			<!-- END scrollwide_recent_topic_row -->


			<!-- BEGIN staticwide_recent_topic_row -->
				<!-- IF staticwide_recent_topic_row.S_ROW_COUNT_W == 0 -->
				<div class="trow">
					<span class="bg2x tleft" style="padding:1px; padding-top:2px; padding-bottom:2px; width:auto;"><strong>{L_TITLE}</strong></span>
					<span class="bg2x tleft" style="padding:1px; padding-top:2px; padding-bottom:2px; width:20px;"><strong> </strong></span>
					<span class="bg2x tleft" style="padding:1px; padding-top:2px; padding-bottom:2px; width:auto;"><strong>{L_POSTER}</strong></span>
					<span class="bg2x tleft" style="padding:1px; padding-top:2px; padding-bottom:2px; width:70px; text-align:right;"><strong>{L_REPLIES}</strong></span>
					<span class="bg2x tleft" style="padding:1px; padding-top:2px; padding-bottom:2px; width:23%; text-align:right;"><strong>{L_POSTED}/{L_EDITED}</strong></span>
				</div>
				<!-- ENDIF -->

				<!-- IF staticwide_recent_topic_row.S_UNIQUE_W -->
				<div class="trow">
					<span class="bg3 tleft" style="padding:1px; text-align:left;">
						<strong><a title="{staticwide_recent_topic_row.TOOLTIP2_W}" href="{staticwide_recent_topic_row.U_FORUM_W}">{staticwide_recent_topic_row.FORUM_W}</a></strong>
					</span><span class="bg3 tleft"></span><span class="bg3 tleft"></span><span class="bg3 tleft"></span><span class="bg3 tleft"></span>
				</div>
				<!-- ENDIF -->

				<!-- IF staticwide_recent_topic_row.S_ROW_COUNT is even -->
				<div class="trow">
					<span class="tleft bg2" style="padding:1px;">{staticwide_recent_topic_row.LAST_POST_IMG_W} <a href="{staticwide_recent_topic_row.U_TITLE_W}" title="{staticwide_recent_topic_row.TOOLTIP_W}"><span class="<!-- IF staticwide_recent_topic_row.S_TYPE_W == 2 or staticwide_recent_topic_row.S_TYPE_W == 3 -->red<!-- ELSEIF staticwide_recent_topic_row.S_TYPE_W == 4 or staticwide_recent_topic_row.S_TYPE_W == 5 -->orange<!-- ELSEIF staticwide_recent_topic_row.S_TYPE_W == 1 -->green<!-- ELSE --><!-- ENDIF -->">{staticwide_recent_topic_row.TITLE_W}</span></a>:</span>
					<span class="tleft bg2" style="padding:1px;">{staticwide_recent_topic_row.AVATAR_SMALL_IMG}</span>
					<span class="tleft bg2" style="padding:1px;">{staticwide_recent_topic_row.POSTER_FULL_W}</span>
					<span class="tleft bg2" style="padding:1px; text-align:right; padding-right:2px;">{staticwide_recent_topic_row.REPLIES}</span>
					<span class="tleft bg2" style="padding:1px; text-align:right; padding-right:2px;"><span class="<!-- IF staticwide_recent_topic_row.S_PC == 1 -->red<!-- ELSEIF staticwide_recent_topic_row.S_PC == 2 -->green<!-- ELSE --><!-- ENDIF -->">{staticwide_recent_topic_row.POSTTIME_W}</span></span>
				</div>
				<!-- ELSE -->
				<div class="trow">
					<span class="tleft bg1" style="padding:1px;">{staticwide_recent_topic_row.LAST_POST_IMG_W} <a href="{staticwide_recent_topic_row.U_TITLE_W}" title="{staticwide_recent_topic_row.TOOLTIP_W}"><span class="<!-- IF staticwide_recent_topic_row.S_TYPE_W == 2 or staticwide_recent_topic_row.S_TYPE_W == 3 -->red<!-- ELSEIF staticwide_recent_topic_row.S_TYPE_W == 4 or staticwide_recent_topic_row.S_TYPE_W == 5 -->orange<!-- ELSEIF staticwide_recent_topic_row.S_TYPE_W == 1 -->green<!-- ELSE --><!-- ENDIF -->">{staticwide_recent_topic_row.TITLE_W}</span></a>:</span>
					<span class="tleft bg1" style="padding:1px;">{staticwide_recent_topic_row.AVATAR_SMALL_IMG}</span>
					<span class="tleft bg1" style="padding:1px;">{staticwide_recent_topic_row.POSTER_FULL_W}</span>
					<span class="tleft bg1" style="padding:1px; text-align:right; padding-right:2px;">{staticwide_recent_topic_row.REPLIES}</span>
					<span class="tleft bg1" style="padding:1px; text-align:right; padding-right:2px;"><span class="<!-- IF staticwide_recent_topic_row.S_PC == 1 -->red<!-- ELSEIF staticwide_recent_topic_row.S_PC == 2 -->green<!-- ELSE --><!-- ENDIF -->">{staticwide_recent_topic_row.POSTTIME_W}</span></span>
				</div>
				<!-- ENDIF -->

			<!-- END staticwide_recent_topic_row -->
	</div>

	<div class="tcontainer">
		<div class="trow">
			<span class="tleft bg3" style="width:40px; padding:2px;"><b>{L_LEGEND}:</b></span>
			<span class="tleft bg3" style="width:auto; padding:2px;">
				<!-- IF S_FULL_LEGEND -->
				<span class="red">&nbsp;{L_ANNOUNCEMENTS}</span> &bull;
				<span class="orange">{L_NEWS}</span> &bull;
				<!-- ENDIF -->
				<span class="green">{L_STICKY}</span> &bull;
				<span class="black">{L_NORMAL}</span>
			</span>
			<span class="tright bg3" style="width:180px; text-align:right; padding-right:1px; padding-top:2px; padding-bottom:2px;"><b>{RECENT_SEARCH_TYPE}</b>&nbsp;</span>
		</div>
	</div>
<!-- ELSE -->
<div style="text-align:center;"><span class="genmed"><strong>{L_NO_RECENT_TOPICS}</strong></span></div>
<!-- ENDIF -->
</div>
<!-- IDTAG ends block_recent_topics -->
<!-- IF DEBUG_QUERIES --><div class="block_data">{RECENT_TOPICS_WIDE_DEBUG}</div><!-- ENDIF -->
