
<!-- IF S_STYLE_SPECIFIC_VERSION -->
<link type="text/css" href="{MOD_USER_TEMPLATE_PATH}/template/js/jquery_ui/jquery-ui.css" rel="stylesheet" />
<!-- ELSE -->
<link type="text/css" href="./ext/phpbbireland/portal/js/jquery/jquery_ui/jquery-ui.css" rel="stylesheet" />
<!-- ENDIF -->

<div class="block_data">

	<div class="tcontainer">
	<!-- BEGIN video_loop_row -->
		<!-- IF video_loop_row.S_ROW_COUNT == 0 -->
		<div class="trow">
			<span class="tleft youtube1" style="width:33%; "><strong>{L_TITLE}</strong></span>
			<span class="tleft youtube1" style="width:29%; "><strong>{L_VIDEO_WHO}</strong></span>
			<span class="tleft youtube1" style="width:18%; "><strong>{L_CATEGORY}</strong></span>
			<span class="tleft youtube1" style="width:10%; "><strong>{L_POSTER}</strong></span>
			<span class="tleft youtube1" style="width:10%; text-align:right;"><strong>{L_IMAGE}</strong></span>
		</div>
		<!-- ENDIF -->

		<!-- IF video_loop_row.S_UNIQUE_W -->
		</div>
		<div class="tcontainer">
			<div class="trow">
				<span class="bg3 tleft" style="padding:1px; text-align:left; width:100%;">
					<strong>{video_loop_row.VIDEO_CAT}</strong>
				</span>
			</div>
		</div>
		<div class="tcontainer">
		<!-- ENDIF -->

		<!-- IF video_loop_row.S_ROW_COUNT is even -->
			<div class="trow">
				<span class="tleft bg2 youtube2" style="width:33%;"><a class="youtube" href="#" rel="{video_loop_row.VIDEO_LINK}" title="">{video_loop_row.VIDEO_TITLE}</a></span>
				<span class="tleft bg2 youtube2" style="width:29%; ">{video_loop_row.VIDEO_WHO} </span>
				<span class="tleft bg2 youtube2" style="width:18%; ">{video_loop_row.VIDEO_CAT}</span>
				<span class="tleft bg2 youtube2" style="width:10%; ">{video_loop_row.VIDEO_POSTER}</span>
				<span class="tleft bg2 ximg" style="width:auto; height: 15px; padding:1px; text-align:right">
					<a class="youtube" href="#" rel="{video_loop_row.VIDEO_LINK}" title="{video_loop_row.VIDEO_WHO}: {video_loop_row.VIDEO_TITLE}">
						<img src="http://img.youtube.com/vi/{video_loop_row.VIDEO_LINK}/default.jpg" alt="" width="15" height="15" />
					</a>
				</span>
			</div>
			</div>
			<div class="tcontainer">
				<div class="tleft bg2" style="width:100%; padding:1px;">
					<span class="tleft youtube1" style="width:99%;"><strong>{video_loop_row.VIDEO_COMMENT}</strong></span>
				</div>
			</div>
			<div class="tcontainer">
			<!-- ELSE -->
			<div class="trow">
				<span class="tleft bg1 youtube2" style="width:33%;"><a class="youtube" href="#" rel="{video_loop_row.VIDEO_LINK}" title="">{video_loop_row.VIDEO_TITLE}</a></span>
				<span class="tleft bg1 youtube2" style="width:29%;">{video_loop_row.VIDEO_WHO} </span>
				<span class="tleft bg1 youtube2" style="width:18%;">{video_loop_row.VIDEO_CAT}</span>
				<span class="tleft bg1 youtube2" style="width:10%;">{video_loop_row.VIDEO_POSTER}</span>
				<span class="tleft bg1 ximg"     style="width:auto; height: 15px; padding:1px; text-align:right">
					<a class="youtube" href="#" rel="{video_loop_row.VIDEO_LINK}" title="{video_loop_row.VIDEO_WHO}: {video_loop_row.VIDEO_TITLE}">
						<img src="http://img.youtube.com/vi/{video_loop_row.VIDEO_LINK}/default.jpg" alt="" width="15" height="15" />
					</a>
				</span>
			</div>

			</div>
			<div class="tcontainer">
				<div class="tleft bg1" style="width:100%; padding:1px;">
					<span class="tleft youtube1" style="width:99%;"><strong>{video_loop_row.VIDEO_COMMENT}</strong></span>
				</div>
			</div>
			<div class="tcontainer">
		<!-- ENDIF -->
	<!-- END video_loop_row -->
	</div>

	<div class="mini-panel sections" style="width: 640px; text-align:center; margin: 0 auto; padding-top:8px;">
	</div>

	<div style="text-align:center"><!-- IF S_AUTOPLAY -->{L_AUTOPLAY_ON}<!-- ELSE -->{L_AUTOPLAY_OFF}<!-- ENDIF --> {video_loop_row.L_YOUTUBE_LIMIT}</div>

</div>
<!-- IDTAG block_web_utube ends 11 November 2009 -->