<br />Portal: <a href="http://www.phpbbireland.com"> Kiss Portal Extension</a> &copy; <a href="http://www.phpbb.com/community/memberlist.php?mode=viewprofile&amp;u=15915">Michael O'Toole</a><br />
<!-- IF STYLE_DATA --> {STYLE_DATA} <br /><!-- ENDIF -->

<!-- IF S_K_FOOTER_IMAGES_ALLOW -->
<div class="portal_footer_images">
	<a rel="external" href="http://phpbb.com"> <img src="{ROOT_PATH}ext/phpbbireland/portal/images/links/www.phpbb.gif" alt="" /></a>
	<a rel="external" href="http://www.phpbbireland.com"> <img src="{ROOT_PATH}ext/phpbbireland/portal/images/links/www.phpbbireland.gif"  alt="" /></a>
</div>
<!-- ENDIF -->