	</div><!-- close center -->

		<!-- IF S_SHOW_RIGHT_BLOCKS -->
		<div class="r_block_vert_gap" style="width:{BLOCK_WIDTH};" id="right">
			<script type="text/javascript">
				// <![CDATA[
				if(GetCookie('right_blocks_col_hide') == '2')
				{
					ShowHide('right');
					ShowHide('right_blocks_col_hide');
					ShowHide('right_blocks_col_show');
				}
				// ]]>
			</script>
			<!-- INCLUDE portal_layout_right.html -->
		</div>
		<!-- ENDIF -->

	</div><!-- close p_row_ -->
</div><!-- close p_container_ -->
<!-- IF PORTAL_FOOTER_BLOCKS --><!-- INCLUDE portal_footer_blocks.html --><!-- ENDIF -->

<!-- INCLUDE portal_sortable.html -->
