<!-- IDTAG starts block_the_teams.html copyright phpbbireland.com 2007 -->
<div class="block_data" style="padding: 0px; margin: 0px;">
	<div class="tcontainer" style="padding-bottom:3px; margin-top:-2px;">
		<!-- BEGIN loop -->
			<!-- IF loop.S_CHANGE -->
				<div>
					<span class="tleft" style="position: relative; float:left; text-align:left; width:100%;"><b>{loop.GROUP_NAME}</b></span>
				</div>
			<!-- ENDIF -->
			<div class="tcontainer">
				<div class="trow" style="width:100%;">
					<span class="bg2 tleft" style="position: relative; float:left; text-align:left; height:18px; width:18px;"><img src="{loop.GROUP_IMG_PATH}{loop.GROUP_IMG}" width="16" height="16" alt="{loop.GROUP_IMG}" /></span>
					<span class="bg2 tleft" style="padding:1px; width:100%; overflow:hidden;"><strong>{loop.USERNAME_FULL}</strong></span>
					<!-- IF loop.COUNTRY_FLAG_IMG --><span class="bg2 tleft" style="width: auto; float:right;">{loop.COUNTRY_FLAG_IMG}</span><!-- ENDIF -->
				</div>
			</div>
		<!-- BEGINELSE -->
			<div style="text-align:center;">{L_NO_TEAMS}</div>
		<!-- END loop -->
	</div>
	<!-- IF L_TEAM_MAX_COUNT != '' --><div class="block_data"style="text-align:center;" title="{L_TEAM_MAX_COUNT}">{L_TEAM_MAX_COUNT}</div><!-- ENDIF -->
</div>
<!-- IF DEBUG_QUERIES --><div class="block_data">{THE_TEAM_DEBUG}</div><!-- ENDIF -->
<!-- IDTAG ends block_the_teams.html -->