<div class="block_data">

	<div class="tcontainer" style="width: 500px; padding: 5px;">
	<!-- BEGIN donations_loop_row -->
		<!-- IF donations_loop_row.S_DROW_COUNT == 0 -->
		<div class="trow">
			<span class="tleft donations" style="width:auto; padding: 0 5px 0 5px;"><strong>{L_NAME}</strong></span>
			<span class="tcenter donations" style="width: 80px; padding: 0 5px 0 5px;"><strong>{L_DATE}</strong></span>
			<span class="tright donations" style="width: 80px; padding: 0 5px 0 5px;"><strong>{L_AMOUNT}</strong></span>
			<span class="tright donations" style="width: 80px; padding: 0 5px 0 5px;"><strong>{L_R_TOTAL}</strong></span>
		</div>
		<!-- ENDIF -->

		<!-- IF donations_loop_row.S_DROW_COUNT is even -->
		<div class="trow">
			<span class="tleft bg2 donations" style="width:auto; padding: 0 5px 0 5px;">{donations_loop_row.DONATIONS_NAME} </span>
			<span class="tright bg2 donations" style="width:80px; padding: 0 5px 0 5px;">{donations_loop_row.DONATIONS_DATE}</span>
			<span class="tright bg2 donations" style="width: 80px; padding: 0 5px 0 5px;">{donations_loop_row.DONATIONS_AMOUNT}</span>
			<span class="tright bg2 donations" style="width: 80px; padding: 0 5px 0 5px;">{donations_loop_row.DONATIONS_R_TOT}</span>
		</div>
		<!-- ELSE -->
		<div class="trow">
			<span class="tleft bg1 donations" style="width:auto; padding: 0 5px 0 5px;">{donations_loop_row.DONATIONS_NAME} </span>
			<span class="tright bg1 donations" style="width:80px; padding: 0 5px 0 5px;">{donations_loop_row.DONATIONS_DATE}</span>
			<span class="tright bg1 donations" style="width: 80px; padding: 0 5px 0 5px;">{donations_loop_row.DONATIONS_AMOUNT}</span>
			<span class="tright bg1 donations" style="width: 80px; padding: 0 5px 0 5px;">{donations_loop_row.DONATIONS_R_TOT}</span>
		</div>
		<!-- ENDIF -->

	<!-- END donations_loop_row -->
	</div>

	<div class="mini-panel sections" style="width: 640px; text-align:center; margin: 0 auto; padding-top:8px;">{TOTAL_DONATIONS}</div>

</div>
<!-- IDTAG block_web_utube ends 11 November 2009 -->