<!-- IDTAG block_members_avatars.html start 13 September 2007 -->
<div class="block_data" style="width:100%; padding: 0;  overflow: auto;">
	<div class="tcontainer" style="padding:1px; margin: 0px; margin-left: auto; margin-right: auto; width:{PAGE_WIDTH}px;">

		<div class="trow" style="width:100%; text-align:center; ">
			<span class="tleft bg2" style="text-align:center; padding: 5px;">
			{REPORT}<br />

				<!-- BEGIN members_avatars -->

				<span class="tleft bg2" style="text-align:center; vertical-align:bottom; padding: 5px; width:{MAX_WIDTH}px;">
					{members_avatars.MEMBER_AVATAR_IMG}<br />

					<span>
					<!-- IF members_avatars.IS_ONLINE -->
						<img src="./images/green_led_on.gif" width="{members_avatars.AVA_WIDTH}" height="10" alt="" title="{L_ONLINE}" />
					<!-- ELSE -->
						<img src="./images/green_led_off.gif" width="10" height="10" alt="" title="{L_OFFLINE}" />
					<!-- ENDIF -->
					</span>

					<span style="margin-top:3px;">{members_avatars.USERNAME_FULL}</span>
				</span>

					<!-- IF members_avatars.COL_COUNT == WRAP_AVATARS --></span></div><div class="trow" style="width:100%; text-align:center;"><span class="tleft bg2" style="text-align:center; padding: 5px;"><!-- ENDIF -->

				<!-- END members_avatars -->
			</span>
		</div>

		<div style="width:100%;">
			<!-- BEGIN avatars_pages -->
				<!-- IF PAGES -->
				<a href="{avatars_pages.U_PAGES}">
					<!-- IF C_PAGE == avatars_pages.PAGE -->
						<span style="background-color: #4692BF; color: #FFF; border: solid 1px #B4BAC0;">&nbsp;{avatars_pages.PAGE}&nbsp;</span>
					<!-- ELSE -->
						<span style="background-color: #ECEDEE; color: #B4BAC0; border: solid 1px #B4BAC0;">&nbsp;{avatars_pages.PAGE}&nbsp;</span>
					<!-- ENDIF -->
				</a>
				<!-- ENDIF -->
			<!-- END avatars_pages -->
			{L_TOTAL_AVATARS}: {AV_TOTAL} &nbsp;

			<span style="float:right;">
				{AVATAR_SQL_TYPE}
			</span>

		</div>


	</div>
</div>

<!-- IF DEBUG_QUERIES -->{MEMBERS_AVATARS_DEBUG}<!-- ENDIF -->
<!-- IDTAG block_members_avatars.html ends 15 April 2007 -->