<!-- IDTAG block_top_posters.html start 13 September 2007 -->
<div class="block_data">
	<div class="tcontainer" style="padding-bottom:3px; margin-top:-2px;">
		<div>
			<span style="position: relative; float:left; text-align:left; width:70%;"><b>{L_USERNAME}</b></span>
			<span style="position: relative; float:right; text-align:right; width:30%;"><b>{L_POSTS}</b></span>
		</div>
	</div>

	<div class="tcontainer" style="padding:1px; margin:0;">
		<!-- BEGIN top_posters -->
			<div class="trow" style="width:100%;">
			<!-- IF top_posters.S_ROWS is even -->
				<span class="tleft bg2" style="padding:0px;"><!-- IF top_posters.USER_AVATAR_IMG -->{top_posters.USER_AVATAR_IMG}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" width="16" height="16" alt="" /><!-- ENDIF --></span>
				<span class="tleft bg2" style="padding:1px; width:100%;">{top_posters.USERNAME_FULL}</span>
				<span class="tleft bg2" style="padding:1px; width:auto; text-align:right; min-width:35px;"><a href="{top_posters.S_SEARCH_ACTION}">{top_posters.POSTER_POSTS}</a></span>
			<!-- ELSE -->
				<span class="tleft bg1" style="padding:0px;"><!-- IF top_posters.USER_AVATAR_IMG -->{top_posters.USER_AVATAR_IMG}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" width="16" height="16" alt="" /><!-- ENDIF --></span>
				<span class="tleft bg1" style="padding:1px; width:100%;">{top_posters.USERNAME_FULL}</span>
				<span class="tleft bg1" style="padding:1px; width:auto; text-align:right; min-width:35px; overflow:hidden;"><a href="{top_posters.S_SEARCH_ACTION}">{top_posters.POSTER_POSTS}</a></span>
			<!-- ENDIF -->
			</div>
		<!-- END top_posters -->
	</div>

<!-- IF DEBUG_QUERIES -->{TOP_POSTERS_DEBUG}<!-- ENDIF -->
</div>

<!-- IDTAG block_top_posters.html ends 15 April 2007 -->


