<!-- DEFINE $BLOCK_START = '<div class="block_body sgp-corners" style="margin-bottom:15px;"><div class="inner">' -->
<!-- DEFINE $HEADER_START = '<div class="cap-left"><div class="cap-right"><div class="block_header">' -->
<!-- DEFINE $HEADER_END = '</div></div></div>' -->
<!-- DEFINE $BODY_START = '<div class="block_body_fill_left"><div class="block_body_fill_right"><div class="box_contents"><div class="block_padding">' -->
<!-- DEFINE $BODY_END = '</div></div></div></div>' -->
<!-- DEFINE $BLOCK_FOOTER = '<div class="c-f-l"><div class="c-f-r"><div class="c-f-c"></div></div></div>' -->
<!-- DEFINE $BLOCK_END = '</div></div>' -->

<!-- DEFINE $HEADER_START_FORUM = '<div class="forabg sgp-corners" style="margin-bottom:15px;"><div class="inner"><span class="corners-top"><span></span></span>' -->
<!-- DEFINE $HEADER_END_FORUM = '<span class="corners-bottom"><span></span></span></div></div>' -->

<!-- DEFINE $HEADER_START_LIST = '<div class="inner"><span class="corners-top"><span></span></span>' -->
<!-- DEFINE $HEADER_END_LIST = '<span class="corners-bottom"><span></span></span></div></div>' -->

<!-- DEFINE $HEADER_WIDE_LEFT = '<div class="block_body sgp-corners" style="margin-bottom:15px;"><div class="cap-left_wide"><div class="cap-right_wide"><div class="block_header">' -->
<!-- DEFINE $HEADER_WIDE_RIGHT = '</div></div></div><div class="box_new"><div class="block_body_fill_left"><div class="block_body_fill_right">' -->

<!-- DEFINE $HEADER_WIDE_BODY_LEFT = '<div class="box_contents"><div class="block_padding">' -->
<!-- DEFINE $HEADER_WIDE_BODY_RIGHT = '</div></div>' -->
<!-- DEFINE $FOOTER_WIDE = '</div></div></div><div class="c-f-l"><div class="c-f-r"><div class="c-f-c"></div></div></div></div>' -->

<!-- DEFINE $BLOCK_START  = '<div class="block_outer_wrap"><div class="inner"><span class=""><span></span></span>' -->

<!-- DEFINE $HEADER_START = '<div class="block_header"><div class="block_title">' -->
<!-- DEFINE $HEADER_END   = '</div></div>' -->
<!-- DEFINE $BODY_START   = '<div class="block_inner_wrap"><div class="sgp-corners-inside">' -->
<!-- DEFINE $BODY_END     = '</div><span class="corners-bottom"><span></span></span></div>' -->

<!-- DEFINE $BLOCK_END    = '</div></div>' -->

