<!-- INCLUDEJS assets/portal.js -->

<script type="text/javascript">
// <![CDATA[
	/**
	* New function for handling multiple calls to window.onload and window.unload by pentapenguin
	*/

	var onload_functions = new Array();
	var onunload_functions = new Array();

	window.onload = function()
	{
		for (var i = 0; i < onload_functions.length; i++)
		{
			eval(onload_functions[i]);
		}
	}

	window.onunload = function()
	{
		for (var i = 0; i < onunload_functions.length; i++)
		{
			eval(onunload_functions[i]);
		}
	}

	onload_functions.push('init_scrollers()');
//alert('scripts');
// ]]>
</script>

<link rel="shortcut icon" href="favicon.ico" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />

<!-- INCLUDEJS assets/scroller.js -->

<!-- IF S_IS_PORTAL and S_ARRANGE -->
	<!-- INCLUDEJS assets/drag_n_drop/prototype.js -->
	<!-- INCLUDEJS assets/drag_n_drop/scriptaculous.js -->
	<!-- INCLUDEJS assets/drag_n_drop/builder.js -->
	<!-- INCLUDEJS assets/drag_n_drop/dragdrop.js -->
	<!-- INCLUDEJS assets/drag_n_drop/effects.js -->
	<!-- INCLUDEJS assets/drag_n_drop/controls.js -->
	<!-- INCLUDEJS assets/drag_n_drop/slider.js -->
	<!-- INCLUDEJS assets/drag_n_drop/unittest.js -->
<!-- ENDIF -->

<!-- IF S_HIGHSLIDE -->
<!-- INCLUDEJS assets/highslide/highslide-full.packed.js -->

<script type="text/javascript" src="./ext/phpbbireland/portal/js/highslide/highslide-full.packed.js"></script>
<link rel="stylesheet" type="text/css" href="./ext/phpbbireland/portal/js/highslide/highslide.css" />

<script type="text/javascript">
// <![CDATA[
	hs.graphicsDir = './ext/phpbbireland/portal/js/highslide/graphics/';
	hs.align = 'center';
	hs.transitions = ['expand', 'crossfade'];
	hs.outlineType = 'glossy-dark';
	hs.wrapperClassName = 'dark';
	hs.fadeInOut = true;
	//hs.dimmingOpacity = 0.75;

	// Add the controlbar
	if (hs.addSlideshow) hs.addSlideshow({
		//slideshowGroup: 'group1',
		interval: 5000,
		repeat: false,
		useControls: true,
		fixedControls: 'fit',
		overlayOptions: {
			opacity: .6,
			position: 'bottom center',
			hideOnMouseOut: true
		}
	});
// ]]>
</script>
<!-- ENDIF -->

<link rel="stylesheet" href="{T_STYLESHEET_PORTAL_COMMON}" type="text/css" />

<!-- xINCLUDEJS assets/jquery/jquery.js -->
<!-- xINCLUDEJS assets/jquery/jquery.hoverIntent.js -->
<!-- xINCLUDEJS assets/jquery/imgbubbles.js -->

<script type="text/javascript" src="./ext/phpbbireland/portal/js/portal.js"></script>

<script type="text/javascript" src="./ext/phpbbireland/portal/js/jquery/jquery.js"></script>
<script type="text/javascript" src="./ext/phpbbireland/portal/js/jquery/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="./ext/phpbbireland/portal/js/jquery/imgbubbles.js"></script>

<script type="text/javascript" src="./ext/phpbbireland/portal/js/jquery/jquery_ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="./ext/phpbbireland/portal/js/jquery/youtube/jquery.youtubepopup.js"></script>

<!--
<script type="text/javascript">
//<![CDATA[

	var $css_file_append = 'fix_ff.css';

	if (/MSIE (\d+\.\d+);/.test(navigator.userAgent))
	{
		var ieversion = new Number(RegExp.$1)
		$css_file_append = 'fix_ie_' + ieversion + '.css';
	}
	else if (/Firefox[\/\s](\d+\.\d+)/.test(navigator.userAgent))
	{
		var ffversion=new Number(RegExp.$1)
		$css_file_append = 'fix_ff.css';
	}
	else if (/Opera[\/\s](\d+\.\d+)/.test(navigator.userAgent))
	{
		var oprversion=new Number(RegExp.$1)
		$css_file_append = 'fix_opera.css';
	}
	else if (/Safari[\/\s](\d+\.\d+)/.test(navigator.userAgent))
	{
		var oprversion=new Number(RegExp.$1)
		$css_file_append = 'fix_mac.css';
	}

	jQuery.noConflict();
	jQuery(document).ready(function(){
		jQuery('<link rel="stylesheet" href="{T_IMAGE_PATH}theme/' + $css_file_append + '" type="text/css" />').appendTo('body');
	});

//]]>
</script>
-->
<!-- agent script end -->


<!-- IF S_VIEWTOPIC -->
<script type="text/javascript">
// <![CDATA[
	jQuery.noConflict();
	jQuery(document).ready(function()
	{
		var i = 0;

		// hides the quick reply box as soon as the DOM is ready - (a little sooner than page load)
		jQuery('.fastreply').hide();

		// toggles the quick reply box on clicking the quick reply button
		jQuery('a.qreply-icon').click(function()
		{
			jQuery('.fastreply').toggle(400);

			// lets toggle the image the easy way ;)
			if (i == 0)
			{
				jQuery(this).css({'background' : 'url("{T_IMAGESET_LANG_PATH}/button_topic_qreply_no.png") 0 0 no-repeat'});
				i++;
			}
			else if (i == 1)
			{
				jQuery(this).css({'background' : 'url("{T_IMAGESET_LANG_PATH}/button_topic_qreply.png") 0 0 no-repeat'});
				i = 0
			}
			return false;
		});
	});
//]]>
</script>
<!-- ENDIF -->

<script type="text/javascript">
// <![CDATA[

	jQuery.noConflict();
	jQuery(document).ready(function($){

	var $m = null;

	jQuery(".hidden_part").hide();

	jQuery(".bg1a").mousedown(function(){

		// accordian effect uncomment
		if ($m != null)
		{
			jQuery(".hidden_part").fadeOut(500);
			jQuery($m + '>' + '.laro').css({'background' : 'url("{T_THEME_PATH}/images/portal/raro.gif") 0 0 no-repeat'});
		}
		else
		{
			$m = '#'+this.id;
			jQuery($m + '>' + '.laro').css({'background' : 'url("{T_THEME_PATH}/images/portal/daro.gif") 0 0 no-repeat'});
		}


		jQuery('#T'+this.id).delay(100).toggle(400);

		}).mouseleave(function(){
		//jQuery('#T'+this.id).delay(600);
		});
	});

	jQuery(function(){
		jQuery('a[rel="external"]').attr('target','_blank');
	});

//]]>
</script>
<script type="text/javascript">
// <![CDATA[

	jQuery.noConflict();
	jQuery(function (jQuery) {
		jQuery("a.youtube").YouTubePopup({ autoplay: <!-- IF S_AUTOPLAY -->1<!-- ELSE -->0<!-- ENDIF --> });
	});

//]]>
</script>
<script type="text/javascript">
// <![CDATA[

	jQuery.noConflict();
	jQuery(document).ready(function(jQuery){
		jQuery('.ximg').imgbubbles({factor:5});
	})

	jQuery(document).ready(function(){
	jQuery(".vido").click(function () {
		jQuery("#vdo").hide("slide", {}, 1000);
		});
	});

	jQuery(document).ready(function(){
		jQuery('.accordion').click(function() {
			$(this).next().toggle('slow');
			return false;
		}).next().hide();
	});

//]]>
</script>

<!-- IF RESIZE -->
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script type="text/javascript">
// <![CDATA[

var w = 100;
x = Get_Cookie('stylewidth');
if(x)
{
	w = x;
}

jQuery.noConflict();
jQuery(document).ready(function(){
	jQuery(function() {
		jQuery("#slider").slider({
			orientation: "horizontal",
			range: "min",
			max: 100,
			value: 50,
			slide: refreshWidth,
			change: refreshWidth
		});
		jQuery("#page-width").css("width", w + '%');
	});
	function refreshWidth()
	{
		w = jQuery("#slider").slider("value");
		pc = ((w/100) * 100);
		w = pc;

		jQuery("#page-width").css("width", w + '%');
	}
	jQuery("#slider").slider({
	   stop: function(event) {
		   Set_Cookie('stylewidth', w);
		   jQuery("#slider").css("display", 'none');
	   }
	});

});
//]]>
</script>
<!-- ENDIF -->


<!--
	Fix annoying white flash on page load michaelo 2013
	set css class flash (flash movie) to display:none as default
-->
<script type="text/javascript">
// <![CDATA[
	// make sure flash is not displayed //
	jQuery(".flash").css("display", 'none');
	jQuery(document).ready(function () {
		setTimeout(function(){
			jQuery(".flash").css("display", 'block');
			//jQuery('.flash').fadeIn(500);
	}, 500);
});
//]]>
</script>