<!-- IF S_CAPGO -->
<script type="text/javascript">
// <![CDATA[
function Set_value(val)
{
    document.getElementById('click_answer').value = val;
	//alert(val);
}
// ]]>
</script>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3><strong>{L_CAPTCHA_CLICK}</strong></h3>

		<div style="float:left;">
			{C_IMAGE}<br />
		</div>
		<div style="float:left; margin: -48px 0 0 55px">
			{SCUMULUS}
		</div>
		<div style="clear:both; font-size:11px; padding: 15px 0 0 55px;"><hr /><strong>{L_CLICK_ON_IMAGE_NAME}</strong></div>
		<div style="clear:both">
			<input type="hidden" name="click_answer" id="click_answer" size="30" value="{CLICK_ANSWER}" class="inputbox autowidth" />
			<input type="hidden" name="click_confirm_id" id="click_confirm_id" value="{CLICK_CONFIRM_ID}" />
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
