<!-- IDTAG START portal_layout_right 24 March 2011 -->

<!-- BEGIN right_block_files -->
	<div id="<!-- IF S_ARRANGE -->BLOCK_<!-- ENDIF -->{right_block_files.RIGHT_BLOCK_ID}">
		<div class="forabg sgp-corners" style="margin-bottom:10px;">
			<div class="inner"><span class="corners-top"><span></span></span>

				<div class="block_header <!-- IF S_ARRANGE -->handle<!-- ENDIF -->">
					<div class="block_title" style="text-align:{S_CONTENT_FLOW_BEGIN};">
						{right_block_files.RIGHT_BLOCK_TITLE}
						<div style="text-align:{S_CONTENT_FLOW_BEGIN};" id="p_{right_block_files.RIGHT_BLOCK_ID}">
							<!-- IF S_ARRANGE -->
							<span class="bmove">{MOVE_IMG}</span>
							<a href="javascript:ShowHide('{right_block_files.RIGHT_BLOCK_ID}','_{right_block_files.RIGHT_BLOCK_ID}','BLOCK_{right_block_files.RIGHT_BLOCK_ID}');">
								<span class="bchide">{HIDE_IMG}</span>
							</a>
							<!-- ELSE -->
							<span class="bcimage"><img src="{right_block_files.RIGHT_BLOCK_IMG}" alt="" /></span>
							<!-- ENDIF -->
						</div>
					</div>
				</div>

				<div class="box" id="<!-- IF not S_ARRANGE -->BLOCK_<!-- ENDIF -->{right_block_files.RIGHT_BLOCK_ID}">
					<!-- IF right_block_files.RIGHT_BLOCK_SCROLL -->
						<!-- IF S_ARRANGE -->
							{L_SCROLLING_BLOCKS_DISABLED}
						<!-- ELSE -->
							<div class="scroll_outer" id="{right_block_files.RIGHT_BLOCK_ID}_outer" onmouseover="do_speed(this, event)" onmousemove="do_speed(this, event)" onmouseout="set_defaults(this, event)"><div class="scroll_inner" id="{right_block_files.RIGHT_BLOCK_ID}_inner">{right_block_files.RIGHT_BLOCKS}</div></div>
						<!-- ENDIF -->
					<!-- ELSE -->
						{right_block_files.RIGHT_BLOCKS}
					<!-- ENDIF -->
				</div>

			<span class="corners-bottom"><span></span></span></div>
		</div>
		<script type="text/javascript">
		// <![CDATA[
			if(GetCookie('BLOCK_{right_block_files.RIGHT_BLOCK_ID}') == '2')
			{
				ShowHide('{right_block_files.RIGHT_BLOCK_ID}','_{right_block_files.RIGHT_BLOCK_ID}','BLOCK_{right_block_files.RIGHT_BLOCK_ID}');
			}
		// ]]>
		</script>
	</div>
<!-- END right_block_files -->

<!-- IDTAG ENDS portal_layout_right -->