<!-- quickreply_smilies.html (SGP) 16 September 2009 starts -->
<!-- IF .smiley -->
	<!-- BEGIN smiley -->
	<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
	<!-- END smiley -->
<!-- ENDIF -->
<!-- IF S_SHOW_SMILEY_LINK -->
	<div style="text-align:center;"><input class="button2" type="button" onclick="window.open('{U_MORE_SMILIES}', '_phpbbsmilies', 'HEIGHT=350,resizable=yes,scrollbars=yes,WIDTH=300'); return false;" value="{L_MORE_SMILIES}" /></div>
<!-- ENDIF -->
<!-- quickreply_smilies.html (SGP) 16 September 2009 ends -->