<!-- IF STARGATE -->
	<div>
		<!-- IF S_SHOW_LEFT_BLOCKS -->
			<span style="display:none;" id="left_blocks_col_hide">
				<a href="javascript:ShowHide('left','left_blocks_col_hide','left_blocks_col_hide');ShowHide('left_blocks_col_show');" title="Show Blocks"><img src="images/slide1.png" width="12" height="12" alt="" class="left_blocks_col_show" /></a>
			</span>
			<span style="display:inline;" id="left_blocks_col_show">
				<a href="javascript:ShowHide('left','left_blocks_col_show','left_blocks_col_hide');ShowHide('left_blocks_col_hide');" title="Hide Blocks"><img src="images/slide2.png" width="12" height="12"  alt="" class="left_blocks_col_show" /></a>
			</span>
		<!-- ENDIF -->
		<!-- IF S_SHOW_RIGHT_BLOCKS -->
			<span style="display:none; float:right;" id="right_blocks_col_hide">
				<a href="javascript:ShowHide('right','right_blocks_col_hide','right_blocks_col_hide');ShowHide('right_blocks_col_show');" title="Show Blocks"><img src="images/slide2.png" width="12" height="12" alt="" class="right_blocks_col_show" /></a>
			</span>
			<span style="display:inline; float:right;" id="right_blocks_col_show">
				<a href="javascript:ShowHide('right','right_blocks_col_show','right_blocks_col_hide');ShowHide('right_blocks_col_hide');" title="Hide Blocks"><img src="images/slide1.png" width="12" height="12" alt="" class="right_blocks_col_show" /></a>
			</span>
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->