<!-- IF S_RSS_ENABLED -->
<div class="block_data"><div>

	<!-- BEGIN maincat -->
		<!-- IF maincat.S_ROW_POSITION < 2 -->
		<span style="width:50%; float:left;">
			<!-- BEGIN rss_left_column -->
			<strong>{maincat.rss_left_column.LEFT_FEEDS_TITLE}</strong>
			{maincat.rss_left_column.LEFT_SYNDICATION}
			<!-- END rss_left_column -->
		</span>
		<span style="width:50%; float:right;">
			<!-- BEGIN rss_right_column -->
			<strong>{maincat.rss_right_column.RIGHT_FEEDS_TITLE}</strong>
			{maincat.rss_right_column.RIGHT_SYNDICATION}
			<!-- END rss_right_column -->
		</span>
		<!-- ELSE -->
		<span style="width:100%;">
			<!-- BEGIN rss_centred_column -->
			<strong>{maincat.rss_centred_column.CENTRED_FEEDS_TITLE}</strong>
			{maincat.rss_centred_column.CENTRED_SYNDICATION}
			<!-- END rss_centred_column -->
		</span>
		<!-- ENDIF -->

	<!-- END maincat -->

	<!-- IF maincat.S_ROW_POSITION is not even --><br /><!-- ENDIF -->
</div></div>
<!-- ELSE -->
<div class="block_data">{L_RSS_DISABLED}</div>
<!-- ENDIF -->

<!-- IF DEBUG_QUERIES --><div class="block_data">{RSS_DEBUG}</div><!-- ENDIF -->
