<!-- IDTAG start block_online_users.html 17 March 2008 copyright phpbbireland.com 2007 -->
<div class="block_data">
	<!-- IF IN_FORUMS --><p>{TOTAL_USERS_ONLINE_SITEWIDE}</p><!-- ELSE --><p>{TOTAL_USERS_ONLINE}</p><!-- ENDIF -->
	<p>{RECORD_USERS}<br /></p>
	<p>{LOGGED_IN_USER_LIST} {L_ONLINE_EXPLAIN}<br /></p>
	<div style="text-align:center;"><a href="{U_VIEWONLINE}">{L_ONLINE_USERS_SHOW}</a></div>
</div>
<!-- IF DEBUG_QUERIES --><div class="block_data">{ONLINE_USERS_DEBUG}</div><!-- ENDIF -->
<!-- IDTAG ends block_online_users -->