.stylewidth {
	width: 80%;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}
.sgp_codefix {
	width:522px;
	overflow: auto;
}
.sgp_codefix2 {
	width:490px;
	overflow: auto;
}

.codecontent {
	width:auto;
}
#logodesc {
	/*
	border-left: 1px solid #4787A7;
	border-right: 1px solid #4787A7;
	*/
	border:none;
}

/* code with lines Mike */
.codebox {
	width:480px;
	max-width:480px;
}
.code {
	width:480px;
	max-width:480px;
}