<!-- IF STARGATE -->
	<!-- INCLUDE overall_header.html -->

	<!-- IF PAGE == 'map' -->
		<!-- INCLUDE wrappers/map.html -->
	<!-- ENDIF -->

	<!-- IF PAGE == 'avatars' -->
		<!-- INCLUDE wrappers/avatars.html -->
	<!-- ENDIF -->

	<!-- IF PAGE == 'video' -->
		<!-- INCLUDE wrappers/video.html -->
	<!-- ENDIF -->

	<!-- IF PAGE == 'downloads' -->
		<!-- INCLUDE wrappers/downloads.html -->
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_ONLINE_LIST -->
		<!-- INCLUDE blocks/block_whos_on_line.html -->
	<!-- ENDIF -->
	<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
		<!-- INCLUDE blocks/block_birthday.html -->
	<!-- ENDIF -->
	<!-- IF NEWEST_USER -->
		<!-- INCLUDE blocks/block_stats.html -->
	<!-- ENDIF -->

	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->