<br />Portal: <a href="http://www.phpbbireland.com"> Kiss Portal Engine</a> &copy; 2013 <a href="http://www.phpbb.com/community/memberlist.php?mode=viewprofile&amp;u=15915">Michael O'Toole</a><br />
<!-- IF STYLE_DATA --> {STYLE_DATA} <br /><!-- ENDIF -->

<!-- IF S_K_FOOTER_IMAGES_ALLOW -->
	<br />
	<a rel="external" href="http://phpbb.com"> <img src="{ROOT_PATH}images/links/www.phpbb.com.gif" alt="" /></a>
	<a rel="external" href="http://www.highslide.com"> <img src="{ROOT_PATH}images/links/www.highslide.com.gif"  alt="" /></a>
	<a rel="external" href="http://www.phpbbireland.com"> <img src="{ROOT_PATH}images/links/www.phpbbireland.com.gif"  alt="" /></a>
<!-- ENDIF -->