<!-- INCLUDE overall_header.html -->
<!-- IDTAG rules starts -->
	<!-- INCLUDE blocks/blocks_header_left.html -->
		{L_BASIC_RULES_HEADER} &nbsp; (<!-- BEGIN basic_rules -->{L_UPDATED} {basic_rules.TO_DAY}<!-- END basic_rules -->)
	<!-- INCLUDE blocks/blocks_header_right.html -->
		<div class="block_data">
			<span class="rules">
				<!-- BEGIN basic_rules -->
				{basic_rules.BASIC_RULES} <br />
				<!-- END basic_rules -->
			</span>
		</div>
	<!-- INCLUDE blocks/blocks_footer.html -->
<!-- IDTAG rules ends -->
<!-- INCLUDE overall_footer.html -->