<!-- Based on Cyber Aliens Config File -->
<!--
	Allows edits to core style files to remain somewhat recognisable.
	Edited to files use a single variable instead of a series of complicated
	html edits/lines, thereby making comparisons a good deal easier during
	porting or update processes.

	The list of definitions is based on our experience with porting several
	hundred styles over the last few years... Additional defines can be
	added without any adverse effects...

	It is not necessary for simple style to include a style_config file, only
	the more complicated styles require it...

	Note! Definitions can only contain real html code, they can not contain
	phpBB switchs, style variables or language variables...
-->

<!-- DEFINE $BLOCK_START  = '' -->
<!-- DEFINE $HEADER_START = '' -->
<!-- DEFINE $HEADER_END   = '' -->
<!-- DEFINE $BODY_START   = '' -->
<!-- DEFINE $BODY_END     = '' -->
<!-- DEFINE $BLOCK_FOOTER = '' -->
<!-- DEFINE $BLOCK_END     = '' -->

<!-- DEFINE $HEADER_START_FORUM = '' -->
<!-- DEFINE $HEADER_END_FORUM   = '' -->

<!-- DEFINE $HEADER_START_LIST  = '' -->
<!-- DEFINE $HEADER_END_LIST    = '' -->

<!-- DEFINE $HEADER_WIDE_LEFT   = '' -->
<!-- DEFINE $HEADER_WIDE_RIGHT  = '' -->

<!-- DEFINE $HEADER_WIDE_BODY_LEFT  = '' -->
<!-- DEFINE $HEADER_WIDE_BODY_RIGHT = '' -->

<!-- DEFINE $FOOTER_WIDE = '' -->

<!-- Last updated: 14 December 2011 -->